/*===RESET===*/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, img, strong, b, i, ol, ul, li, form, label, input, textarea, button, header, footer, section, nav, article, aside {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  vertical-align: baseline;
  color: inherit;
  background: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
}

b, strong {
  font-weight: 700;
}

header, footer, section, nav, article, aside {
  display: block;
}

button {
  overflow: visible;
  cursor: pointer;
}

html, body {
  font-size: 16px;
  font-weight: 400;
}

img {
  vertical-align: bottom;
}

/*===FONTS===*/
@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneuecyr-thin-webfont.eot");
  src: url("../fonts/helveticaneuecyr-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-thin-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-thin-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-thin-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneuecyr-thinitalic-webfont.eot");
  src: url("../fonts/helveticaneuecyr-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-thinitalic-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-thinitalic-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-thinitalic-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-thinitalic-webfont.svg#helveticaneuecyrthin_italic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneuecyr-light-webfont.eot");
  src: url("../fonts/helveticaneuecyr-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-light-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-light-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-light-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneuecyr-lightitalic-webfont.eot");
  src: url("../fonts/helveticaneuecyr-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-lightitalic-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-lightitalic-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-lightitalic-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-lightitalic-webfont.svg#helveticaneuecyrlight_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneuecyr-roman-webfont.eot");
  src: url("../fonts/helveticaneuecyr-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-roman-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneuecyr-italic-webfont.eot");
  src: url("../fonts/helveticaneuecyr-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-italic-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-italic-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-italic-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-italic-webfont.svg#helveticaneuecyritalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneuecyr-medium-webfont.eot");
  src: url("../fonts/helveticaneuecyr-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-medium-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-medium-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-medium-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneuecyr-mediumitalic-webfont.eot");
  src: url("../fonts/helveticaneuecyr-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-mediumitalic-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-mediumitalic-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-mediumitalic-webfont.svg#helveticaneuecyrmedium_italic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneuecyr-bold-webfont.eot");
  src: url("../fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bold-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneuecyr-bolditalic-webfont.eot");
  src: url("../fonts/helveticaneuecyr-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bolditalic-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bolditalic-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-bolditalic-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bolditalic-webfont.svg#helveticaneuecyrbold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneuecyr-black-webfont.eot");
  src: url("../fonts/helveticaneuecyr-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-black-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-black-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-black-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-black-webfont.svg#helveticaneuecyrblack") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneuecyr-blackitalic-webfont.eot");
  src: url("../fonts/helveticaneuecyr-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-blackitalic-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-blackitalic-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-blackitalic-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-blackitalic-webfont.svg#helveticaneuecyrblack_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

/*===GRID===*/
.wrapper {
  min-width: 320px;
  overflow: hidden;
  min-height: 100%;
  position: relative;
  padding: 100px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe716), to(#fff8ba));
  background-image: -webkit-linear-gradient(top, #ffe716, #fff8ba);
  background-image: -moz-linear-gradient(top, #ffe716, #fff8ba);
  background-image: -o-linear-gradient(top, #ffe716, #fff8ba);
  background-image: linear-gradient(to bottom, #ffe716, #fff8ba);
}

.wrapper_fsscroll {
  padding-top: 0 !important;
}

.wrapper__full-height {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 100px 0;
  overflow: hidden;
}

.wrap {
  margin: 0 auto;
  max-width: 980px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1000px) {
  .wrap {
    padding-left: 0;
    padding-right: 0;
  }
}

.pad {
  padding-left: 15px;
  padding-right: 15px;
}

.pad.wrap {
  padding-left: 45px;
  padding-right: 45px;
}

.pad-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row:after {
  display: block;
  width: 100%;
  content: "";
  clear: both;
}

.row > div[class*="col"] {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.row > div[class*="pull"],
.row > div[class*="push"] {
  position: relative;
}

.row__br {
  display: block;
  width: 100%;
  clear: both;
}

.row-col-mid, .row-col-bot {
  font-size: 0 !important;
}

.row-col-mid:before, .row-col-bot:before {
  display: inline-block;
  content: "";
  height: 100%;
}

.row-col-mid > div[class*="col"], .row-col-bot > div[class*="col"] {
  display: inline-block;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
}

.row-col-mid:before,
.row-col-mid > div[class*="col"] {
  vertical-align: middle;
}

.row-col-bot:before,
.row-col-bot > div[class*="col"] {
  vertical-align: bottom;
}

.row-tbl {
  display: table;
  width: 100%;
}

.row-tbl > div[class*="col"] {
  display: table-cell;
  vertical-align: top;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.row_full-height, .row_full-height > div[class*="col"] {
  height: 100%;
}

.row-col-pad-0 {
  padding-left: 15px;
  padding-right: 15px;
}

.row-col-pad-0 > div[class*="col"] {
  padding-left: 0;
  padding-right: 0;
}

.row-col-pad-0.wrap {
  padding-left: 45px;
  padding-right: 45px;
}

.col-0-1 {
  width: 4.166665%;
}

.col-1 {
  width: 8.33333%;
}

.col-1-2 {
  width: 12.499995%;
}

.col-2 {
  width: 16.66666%;
}

.col-2-3 {
  width: 20.83333%;
}

.col-3 {
  width: 25%;
}

.col-3-4 {
  width: 29.16666%;
}

.col-4 {
  width: 33.33332%;
}

.col-4-5 {
  width: 37.499985%;
}

.col-5 {
  width: 41.66665%;
}

.col-5-6 {
  width: 45.833325%;
}

.col-6 {
  width: 50%;
}

.col-6-7 {
  width: 54.166665%;
}

.col-7 {
  width: 58.33333%;
}

.col-7-8 {
  width: 62.499985%;
}

.col-8 {
  width: 66.66664%;
}

.col-8-9 {
  width: 70.833305%;
}

.col-9 {
  width: 74.99997%;
}

.col-9-10 {
  width: 79.166635%;
}

.col-10 {
  width: 83.33333%;
}

.col-10-11 {
  width: 87.499995%;
}

.col-11 {
  width: 91.66663%;
}

.col-11-12 {
  width: 95.833295%;
}

.col, .col-12 {
  width: 100%;
  float: none !important;
  clear: both;
}

.col-right {
  float: right !important;
}

.col-center {
  margin: auto;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-pull-3 {
  right: 25%;
}

.col-push-6 {
  left: 50%;
}

/*middleBlock*/
.middle {
  height: 100%;
  font-size: 0;
}

.middle:before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}

.middle__block {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .vw1200-row-col {
    display: block;
  }
  .vw1200-row-col > div[class*="col"] {
    display: block;
    float: none;
    width: 100%;
    left: 0;
    right: 0;
  }
  .vw1200-row-col.row-col-mid:before, .vw1200-row-col.row-col-bot:before {
    display: none;
  }
  .vw1200-col-0-1 {
    width: 4.166665%;
  }
  .vw1200-col-1 {
    width: 8.33333%;
  }
  .vw1200-col-1-2 {
    width: 12.499995%;
  }
  .vw1200-col-2 {
    width: 16.66666%;
  }
  .vw1200-col-2-3 {
    width: 20.83333%;
  }
  .vw1200-col-3 {
    width: 25%;
  }
  .vw1200-col-3-4 {
    width: 29.16666%;
  }
  .vw1200-col-4 {
    width: 33.33332%;
  }
  .vw1200-col-4-5 {
    width: 37.499985%;
  }
  .vw1200-col-5 {
    width: 41.66665%;
  }
  .vw1200-col-5-6 {
    width: 45.833325%;
  }
  .vw1200-col-6 {
    width: 50%;
  }
  .vw1200-col-6-7 {
    width: 54.166665%;
  }
  .vw1200-col-7 {
    width: 58.33333%;
  }
  .vw1200-col-7-8 {
    width: 62.499985%;
  }
  .vw1200-col-8 {
    width: 66.66664%;
  }
  .vw1200-col-8-9 {
    width: 70.833305%;
  }
  .vw1200-col-9 {
    width: 74.99997%;
  }
  .vw1200-col-9-10 {
    width: 79.166635%;
  }
  .vw1200-col-10 {
    width: 83.33333%;
  }
  .vw1200-col-10-11 {
    width: 87.499995%;
  }
  .vw1200-col-11 {
    width: 91.66663%;
  }
  .vw1200-col-11-12 {
    width: 95.833295%;
  }
  .vw1200-col, .vw1200-col-12 {
    width: 100%;
    float: none !important;
    clear: both;
  }
  .vw1200-col-offset-0 {
    margin-left: 0;
  }
}

@media (max-width: 1000px) {
  .vw1000-row-col {
    display: block;
  }
  .vw1000-row-col > div[class*="col"] {
    display: block;
    float: none;
    width: 100%;
    left: 0;
    right: 0;
  }
  .vw1000-row-col.row-col-mid:before, .vw1000-row-col.row-col-bot:before {
    display: none;
  }
  .vw1000-col-0-1 {
    width: 4.166665%;
  }
  .vw1000-col-1 {
    width: 8.33333%;
  }
  .vw1000-col-1-2 {
    width: 12.499995%;
  }
  .vw1000-col-2 {
    width: 16.66666%;
  }
  .vw1000-col-2-3 {
    width: 20.83333%;
  }
  .vw1000-col-3 {
    width: 25%;
  }
  .vw1000-col-3-4 {
    width: 29.16666%;
  }
  .vw1000-col-4 {
    width: 33.33332%;
  }
  .vw1000-col-4-5 {
    width: 37.499985%;
  }
  .vw1000-col-5 {
    width: 41.66665%;
  }
  .vw1000-col-5-6 {
    width: 45.833325%;
  }
  .vw1000-col-6 {
    width: 50%;
  }
  .vw1000-col-6-7 {
    width: 54.166665%;
  }
  .vw1000-col-7 {
    width: 58.33333%;
  }
  .vw1000-col-7-8 {
    width: 62.499985%;
  }
  .vw1000-col-8 {
    width: 66.66664%;
  }
  .vw1000-col-8-9 {
    width: 70.833305%;
  }
  .vw1000-col-9 {
    width: 74.99997%;
  }
  .vw1000-col-9-10 {
    width: 79.166635%;
  }
  .vw1000-col-10 {
    width: 83.33333%;
  }
  .vw1000-col-10-11 {
    width: 87.499995%;
  }
  .vw1000-col-11 {
    width: 91.66663%;
  }
  .vw1000-col-11-12 {
    width: 95.833295%;
  }
  .vw1000-col, .vw1000-col-12 {
    width: 100%;
    float: none !important;
    clear: both;
  }
  .vw1000-col-offset-0 {
    margin-left: 0;
  }
}

/*full screen scroll*/
.fsscroll__screen {
  position: relative;
  padding: 100px 0;
}

/*===HEADER===*/
.header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  -webkit-transition: .21s;
  -o-transition: .21s;
  -moz-transition: .21s;
  transition: .21s;
}

.header_fixed, .header.toggled {
  background: #FFF;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.21);
     -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.21);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.21);
}

.header__wrap {
  height: 100px;
  max-width: none;
}

.header__logo {
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__right {
  float: right;
}

.header__menu-wrap {
  float: left;
}

.header__nav {
  float: left;
}

.header__toggle {
  display: none !important;
}

@media (max-width: 1000px) {
  .header__menu-wrap {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    background: #FFF;
    border-top: 1px solid #dddddd;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
  }
  .header__menu-wrap.toggled {
    visibility: visible;
    opacity: 1;
  }
  .header__nav {
    float: none;
    padding: 20px 0;
  }
  .header__toggle {
    display: block !important;
    position: absolute !important;
    right: 15px;
    top: 50%;
    margin-top: -12px;
  }
}

/*Menu*/
.menu {
  list-style: none;
  padding-top: 5px;
}

.menu:after {
  display: block;
  width: 100%;
  content: "";
  clear: both;
}

.menu__item {
  float: left;
  margin-left: 45px;
}

.menu__item:first-child {
  margin: 0;
}

.menu__item_has-children {
  position: relative;
}

.menu__a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.menu__a:hover {
  color: #ff0000;
}

.menu__arr {
  display: none;
  width: 12px;
  height: 8px;
  position: relative;
  bottom: 2px;
  margin-left: 7px;
  background-image: url("../images/sprite.svg");
  background-repeat: no-repeat;
  background-position: -36px -34px;
}

.menu__item_has-children .menu__arr {
  display: inline-block;
}

.menu__sub-menu {
  position: absolute;
  list-style: none;
  width: 6000%;
  padding: 24px 0 16px 3000%;
  top: 100%;
  left: -3000%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.header_fixed .menu__sub-menu {
  background: #ffffff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11);
     -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11);
}

.menu__sub-menu-item {
  float: left;
  margin-right: 25px;
}

.menu__sub-menu-a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.menu__sub-menu-a:hover {
  color: #ff0000;
}

.menu__item_has-children:hover .menu__sub-menu {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1200px) {
  .menu__item {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .menu__item {
    float: none;
    text-align: center;
    margin: 0;
    padding: 15px 0;
  }
  .menu__item_has-children .menu__a {
    margin-left: 21px;
  }
  .menu__sub-menu {
    width: auto;
    left: 0;
    padding: 14px 0 0;
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
    position: relative;
    visibility: visible;
    opacity: 1;
    display: none;
  }
  .menu__sub-menu-item {
    float: none;
    margin: 0;
    padding: 9px 0;
  }
  .menu__item_has-children:hover .menu__sub-menu {
    display: block;
  }
}

/*===BLOCK===*/
/*Title*/
.title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 45px;
}

.title-h2 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 28px;
}

/*Text*/
.txt {
  font-size: 16px;
  line-height: 1.375;
}

.txt p {
  margin-bottom: 25px;
}

.txt p:last-child {
  margin-bottom: 0;
}

/*===IMAGES===*/
.overflow-img {
  display: block;
  opacity: 0;
  -webkit-transition: opacity .21s;
  -o-transition: opacity .21s;
  -moz-transition: opacity .21s;
  transition: opacity .21s;
}

.overflow-img_w {
  width: 100%;
  height: auto;
  min-height: 100%;
  opacity: 1;
}

.overflow-img_h {
  height: 100%;
  width: auto;
  min-width: 100%;
  opacity: 1;
}

.overflow-img-wrap {
  overflow: hidden;
}

.middle-img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.middle-img-wrap {
  height: 100%;
  font-size: 0;
}

.middle-img-wrap:before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}

.responsive-img {
  max-width: 100%;
  max-height: 100%;
}

.full-width-img {
  width: 100%;
  height: auto;
}

/*===FORM===*/
.form__loading-icon {
  width: 43px;
  height: 43px;
  margin: 30px auto;
  position: relative;
}

.form__loading-icon-img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../images/loading.svg") no-repeat 50% 50%;
  -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
       background-size: 100% 100%;
  -webkit-animation: form_loading_icon .9s infinite linear;
     -moz-animation: form_loading_icon .9s infinite linear;
       -o-animation: form_loading_icon .9s infinite linear;
          animation: form_loading_icon .9s infinite linear;
}

@-webkit-keyframes form_loading_icon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-moz-keyframes form_loading_icon {
  0% {
    -moz-transform: rotate(0deg);
         transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@-o-keyframes form_loading_icon {
  0% {
    -o-transform: rotate(0deg);
       transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}

@keyframes form_loading_icon {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.form {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  font-size: 16px;
}

.form .overlabel,
.form .overlabel-apply {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  z-index: 2;
  max-width: 100%;
  cursor: text;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  line-height: 1;
}

.form__text-input, .form__textarea, .form__textarea_var-h-wrap, .form__select-button {
  display: block;
  width: 100%;
  border: 1px solid #c3c3c3;
}

.form__textarea {
  height: 70px;
  resize: none;
  overflow: auto;
  line-height: 1.3;
}

.form__textarea_var-h {
  height: 42px;
  min-height: 42px;
  overflow: hidden;
}

.form__textarea_var-h + .overlabel,
.form__textarea_var-h + .overlabel-apply {
  line-height: 1.3;
}

.form__textarea_var-h-wrap {
  height: 80px;
  line-height: 73px;
}

.form__textarea_var-h-wrap .form__textarea_var-h {
  border: none;
  display: inline-block;
  vertical-align: middle;
}

.form__textarea_var-h-wrap .overlabel,
.form__textarea_var-h-wrap .overlabel-apply {
  top: 23px;
}

.form__textarea-shape {
  position: absolute;
  left: -9999px;
  white-space: pre-wrap;
  line-height: 1.3;
  padding: 10px 15px;
}

.form__select {
  position: relative;
}

.form__select:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: 6px solid #ff0000;
  position: absolute;
  right: 13px;
  top: 50%;
  margin-top: -2px;
}

.form__select-button {
  padding-right: 30px !important;
  position: relative;
  text-align: left;
  z-index: 3;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.form__select-options {
  list-style: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  max-height: 186px;
  overflow: auto;
  z-index: 5;
  border: 1px solid #c3c3c3;
  border-top: none;
  background: #F0F1F2;
  display: none;
}

.form__select-options li {
  border-top: 1px solid #c3c3c3;
}

.form__select-options li.hidden {
  display: none;
}

.form__select-options li:first-child {
  border: none;
}

.form__select-val {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: left;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.form__select-val:hover {
  background: #797979;
  color: #fff;
}

.form__select-val_checked {
  background: #ff0000;
  color: #fff;
}

.form__select_opened:after {
  border: 4px solid transparent;
  border-bottom: 6px solid #ff0000;
  margin-top: -7px;
}

.form__select_autocomplete:after {
  display: none;
}

.form__text-input, .form__textarea,
.form .overlabel,
.form .overlabel-apply, .form__select-button, .form__select-val {
  padding: 10px 15px;
}

.form__error-tip {
  font-size: 12px;
  color: #ff0000;
  padding-top: 3px;
  display: none;
}

.form__field {
  position: relative;
  margin-bottom: 14px;
}

.form__field_error .form__text-input,
.form__field_error .form__textarea,
.form__field_error .form__select-button {
  border: 1px solid #ff0000;
}

.form__field_error .overlabel,
.form__field_error .overlabel-apply,
.form__field_error .form__select-button {
  color: #ff0000;
}

.form__field_error .form__error-tip {
  display: block;
}

.form__field_hidden {
  display: none;
}

.form__field_btn .form__text-input,
.form__field_btn .overlabel,
.form__field_btn .overlabel-apply {
  padding-right: 50px;
}

.form__fieldset {
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  position: static;
}

.form__fieldset_hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.form__fieldset-wrap {
  position: relative;
}

.form__alert {
  font-size: 13px;
  color: #ff0000;
  text-align: center;
  padding-top: 10px;
  display: none;
}

.form_error .form__alert {
  display: block;
}

.form__chbox {
  position: relative;
  margin-bottom: 14px;
}

.form__chbox-input {
  position: absolute;
  left: -9999px;
}

.form__chbox-input:checked + .form__chbox-label:before {
  background: #F0F1F2 url("../images/chbox-bird.svg") no-repeat 50% 50%;
  -moz-background-size: 86.2069% auto;
    -o-background-size: 86.2069% auto;
       background-size: 86.2069% auto;
}

.form__chbox-label {
  display: inline-block;
  padding: 4px 0 0 33px;
  min-height: 22px;
  position: relative;
  cursor: pointer;
}

.form__chbox-label:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #C3C3C3;
  background: #F0F1F2;
  -webkit-transition: border-color .5s;
  -o-transition: border-color .5s;
  -moz-transition: border-color .5s;
  transition: border-color .5s;
}

.form__chbox-label:hover:before {
  border: 1px solid #ff0000;
}

.form__chbox_error .form__chbox-label:before, .form__chbox-group_error .form__chbox-label:before {
  border: 1px solid #ff0000;
}

.form__radio {
  position: relative;
  margin-bottom: 14px;
}

.form__radio-input {
  position: absolute;
  left: -9999px;
}

.form__radio-input:checked + .form__radio-label:after {
  display: block;
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background: #ff0000;
}

.form__radio-label {
  display: inline-block;
  padding: 4px 0 0 33px;
  min-height: 22px;
  position: relative;
  cursor: pointer;
}

.form__radio-label:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid #C3C3C3;
  background: #F0F1F2;
  -webkit-transition: border-color .5s;
  -o-transition: border-color .5s;
  -moz-transition: border-color .5s;
  transition: border-color .5s;
}

.form__radio-label:hover:before {
  border: 1px solid #ff0000;
}

.form__radio-group_error .form__radio-label:before {
  border: 1px solid #ff0000;
}

.form__file {
  text-align: center;
}

.form__file-input {
  position: absolute;
  left: -9999px;
}

.form__file-btn {
  font-size: 30px;
  color: #ff0000;
  border-bottom: 1px solid #ff0000;
  cursor: pointer;
}

.form__file-btn_delete {
  display: none;
}

.form__file-image {
  display: block;
  width: 336px;
  height: 273px;
  line-height: 273px;
  margin-bottom: 20px;
  background: #000;
  margin: 0 auto 20px;
  text-align: center;
}

.form__file-image img {
  max-height: 100%;
  vertical-align: middle;
}

.form__btn {
  display: block;
  height: 42px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.form__btn:before {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
}

.form__btn_search {
  width: 42px;
}

.form__btn_search:before {
  width: 17px;
  height: 17px;
  background-image: url("../images/sprite.svg");
  background-repeat: no-repeat;
  background-position: -33px -15px;
  margin: -9px 0 0 -8px;
}

.form__btn:hover {
  opacity: .5;
}

.form__button_loading {
  position: relative;
}

.form__button_loading:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #ffffff;
}

.form__button_loading:after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  margin: -15px 0 0 -15px;
  width: 30px;
  height: 30px;
  background: url("../images/loading.svg") no-repeat 50% 50%;
  -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
       background-size: 100% 100%;
  -webkit-animation: form_loading_icon .9s infinite linear;
     -moz-animation: form_loading_icon .9s infinite linear;
       -o-animation: form_loading_icon .9s infinite linear;
          animation: form_loading_icon .9s infinite linear;
}

.form__txt {
  font-size: 14px;
  font-weight: 500;
  margin: 35px 0 14px;
}

/*===SLIDER===*/
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 100% !important;
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  perspective: 800px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  z-index: 5;
  position: absolute;
  bottom: -13px;
  width: 100%;
}

.slick-dots li {
  list-style: none;
  display: inline-block;
  margin-right: 12px;
}

.slick-dots button {
  display: block;
  font-size: 0;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  border: 1px solid #0000ff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.slick-dots button:hover {
  background: #ff0000;
}

.green-slider .slick-dots button {
  border: 1px solid #00ff00;
}

.slick-dots .slick-active button {
  background: #0000ff;
}

.green-slider .slick-dots .slick-active button {
  background: #00ff00;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 3;
  width: 42px;
  height: 42px;
  margin-top: -21px;
  font-size: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  opacity: .3;
}

.slick-arrow:after {
  display: inline-block;
  content: "";
  width: 12px;
  height: 20px;
  background-image: url("../images/sprite.svg");
  background-repeat: no-repeat;
}

.slick-arrow:hover {
  opacity: .7;
}

.slick-prev {
  left: -42px;
}

.slick-prev:after {
  background-position: -24px -72px;
}

.slick-next {
  right: -42px;
}

.slick-next:after {
  background-position: -38px -72px;
}

/*===SCROLL===*/
.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 100%;
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff5a3), to(#fffbda));
  background: -webkit-linear-gradient(top, #fff5a3, #fffbda);
  background: -moz-linear-gradient(top, #fff5a3, #fffbda);
  background: -o-linear-gradient(top, #fff5a3, #fffbda);
  background: linear-gradient(to bottom, #fff5a3, #fffbda);
  position: relative;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}

.jspDrag {
  background: #ff0000;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus {
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/*===POPUP===*/
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  text-align: center;
  font-size: 0;
}

.popup:before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}

.popup__window {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  vertical-align: middle;
  width: 100%;
  padding: 35px 0;
  font-size: 16px;
  text-align: left;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: -o-transform .5s;
  -moz-transition: transform .5s, -moz-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s;
}

.popup__window_visible {
  position: relative;
  visibility: visible;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.popup__inner {
  background: #FFF;
  padding: 50px;
}

.popup__inner:after {
  display: block;
  width: 100%;
  content: "";
  clear: both;
}

.popup__message {
  font-size: 18px;
}

.popup__close {
  position: absolute !important;
  right: -29px;
  top: 4px;
  z-index: 3;
  cursor: pointer;
}

/*fix body*/
body.is-popup-opened {
  position: fixed;
  left: 0;
  right: 0;
}

/*popup-media*/
.popup-media {
  max-width: 1280px;
}

.popup-media__iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  border: none;
}

.popup-media__box {
  position: relative;
  background: #000;
}

.popup-media__box:before {
  display: block;
  content: "";
  padding-bottom: 35%;
}

.popup-media__box img {
  position: absolute;
  left: 0;
  top: 0;
}

.popup-media__bar {
  padding-top: 34px;
  font-size: 14px;
}

.popup-media__bar-date {
  color: #666;
  margin-bottom: 10px;
}

.popup-media__bar-tit {
  font-weight: 700;
}

.popup-media__arr {
  display: block;
  position: absolute;
  width: 12px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  z-index: 3;
  background-image: url("../images/sprite.svg");
  background-repeat: no-repeat;
}

.popup-media__arr_l {
  left: 53px;
  background-position: -24px -72px;
}

.popup-media__arr_r {
  right: 53px;
  background-position: -38px -72px;
}

.popup-media__play {
  display: block;
  width: 51px;
  height: 51px;
  -webkit-border-radius: 51px;
     -moz-border-radius: 51px;
          border-radius: 51px;
  background: #FFF;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
  -webkit-box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.21);
     -moz-box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.21);
          box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.21);
  opacity: .95;
  visibility: hidden;
}

.popup-media__play:before {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left: 11px solid #5aa75e;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -3px;
}

@media (max-width: 1200px) {
  .popup-media {
    max-width: 904px;
  }
  .popup-media .popup__close {
    right: 32px;
    top: 80px;
  }
  .popup-media__box:before {
    padding-bottom: 61.17257%;
  }
  .popup-media__bar {
    padding: 28px 50px;
  }
  .popup-media__arr_l {
    left: 35px;
  }
  .popup-media__arr_r {
    right: 35px;
  }
}

@media (max-width: 1000px) {
  .popup-media .popup__close {
    right: 18px;
    top: 18px;
  }
  .popup-media__box:before {
    padding-bottom: 120.3125%;
  }
  .popup-media__arr_l {
    left: 15px;
  }
  .popup-media__arr_r {
    right: 15px;
  }
  .popup-media__btn {
    width: 26px;
    height: 26px;
    -webkit-border-radius: 26px;
       -moz-border-radius: 26px;
            border-radius: 26px;
    margin: -13px 0 0 -13px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.49);
       -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.49);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.49);
  }
  .popup-media__btn:before {
    border: 4px solid transparent;
    border-left: 7px solid #5aa75e;
    margin: -4px 0 0 -2px;
  }
  .popup-media__bar {
    padding: 18px;
    font-size: 13px;
  }
  .popup-media__bar-tit {
    margin-bottom: 24px;
  }
  .popup-media__bar .ta-r {
    text-align: left !important;
  }
}

/*===ACCORD===*/
.accord {
  border-top: 1px solid #dddddd;
  background: #FFF;
}

.accord__button {
  display: block;
  padding: 20px 80px 20px 20px;
  position: relative;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.accord__button span {
  display: block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
          border-radius: 40px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -20px;
  border: 1px solid #dddddd;
}

.accord__button span:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../images/icon-arrow-down.svg") no-repeat 50% 50%;
  -moz-background-size: 30% auto;
    -o-background-size: 30% auto;
       background-size: 30% auto;
}

.accord__content {
  display: none;
  border-bottom: 1px solid #dddddd;
}

/*===MORE===*/
.more {
  max-height: 97px;
}

.more_apply {
  max-height: none;
  padding-bottom: 35px;
  position: relative;
}

.more__inner {
  overflow: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.more__button {
  display: block;
  position: absolute;
  bottom: 11px;
  right: 0;
}

/*===BUTTONs===*/
.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 16px 28px 14px;
  text-align: center;
  color: #FFF;
  border: 1px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.button_arr:after {
  display: inline-block;
  content: "";
  width: 7px;
  height: 11px;
  background-image: url("../images/sprite.svg");
  background-repeat: no-repeat;
  background-position: -43px -1px;
  margin-left: 5px;
}

.button_red {
  border: 1px solid #ff0000;
  background: #ff0000;
}

.button_blue {
  border: 1px solid #0000ff;
  background: #0000ff;
}

.button_green {
  border: 1px solid #00ff00;
  background: #00ff00;
}

.button_shadow {
  position: relative;
}

.button_w230 {
  width: 230px;
}

.button_w330 {
  width: 330px;
}

.button_w-full {
  width: 100%;
}

.button_blue-bord {
  color: #0000ff;
  border: 1px solid #0000ff;
  background: #FFF;
}

.button_blue-txt {
  color: #0000ff;
  background: #FFF;
}

.button_grn-bord {
  color: #00ff00;
  border: 1px solid #00ff00;
  background: #FFF;
}

.button_grn-txt {
  color: #00ff00;
  background: #FFF;
}

.button.lock {
  display: none;
}

.button:hover {
  opacity: .6;
}

.button_hov-blue:hover {
  opacity: 1;
  border: 1px solid #0000ff;
  background: #0000ff;
}

@media (max-width: 700px) {
  .button {
    width: 100%;
  }
}

/*toggle*/
.toggle {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggle span {
  height: 3px;
  background: #ff0000;
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.toggle span:first-child {
  top: 1px;
}

.toggle span:last-child {
  bottom: 0;
}

.toggle span:nth-child(2),
.toggle span:nth-child(3) {
  top: 50%;
  margin-top: -1px;
}

.toggle.toggled span:first-child,
.toggle.toggled span:last-child {
  opacity: 0;
}

.toggle.toggled span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 130%;
  left: -15%;
}

.toggle.toggled span:nth-child(3) {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 130%;
  left: -15%;
}

.on-toggled-hide.toggled {
  display: none !important;
}

.on-toggled-show.toggled {
  display: block !important;
}

/*button close*/
.btn-close {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.btn-close:after, .btn-close:before {
  display: block;
  content: "";
  width: 130%;
  height: 3px;
  background: #ff0000;
  position: absolute;
  left: -15%;
  top: 50%;
  margin-top: -1px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.btn-close:after {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn-close:before {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-close:hover:after, .btn-close:hover:before {
  background: #000;
}

.btn-close_v1 {
  width: 20px;
  height: 20px;
  background: #74C447;
}

.btn-close_v1:after, .btn-close_v1:before {
  height: 2px;
  background: #FFF;
}

/*button play*/
.btn-play {
  display: block;
  width: 64px;
  height: 64px;
  -webkit-border-radius: 64px;
     -moz-border-radius: 64px;
          border-radius: 64px;
  background: #ff0000;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.btn-play:before {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left: 11px solid #fff;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -3px;
}

.btn-play:hover {
  opacity: 0.7;
}

/*===FOOTER===*/
.footer {
  background: #FFF;
  -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.21);
     -moz-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.21);
          box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.21);
  position: relative;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__wrap {
  height: 100px;
  max-width: none;
}

.footer__logo img {
  width: 100%;
  max-width: 221px;
}

.footer__txt {
  text-align: right;
  font-size: 15px;
  line-height: 1.2;
}

/*===COMMON===*/
html, body {
  font-family: 'helveticaneue', sans-serif;
  color: #000000;
  background: #ffffff;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.pos-r {
  position: relative;
}

.c-red {
  color: #ff0000;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-15 {
  margin-bottom: 15px;
}

@media (min-width: 1201px) {
  .vw1201-hide {
    display: none;
  }
}

@media (max-width: 1200px) {
  .vw1200-hide {
    display: none;
  }
}

@media (min-width: 1001px) {
  .vw1001-hide {
    display: none;
  }
}

@media (max-width: 1000px) {
  .vw1000-hide {
    display: none;
  }
  .vw1000-pad-x-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .vw1000-pad-y-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .vw1000-m-0 {
    margin: 0;
  }
  .vw1000-mb-35 {
    margin-bottom: 35px;
  }
}

@media (min-width: 701px) {
  .vw701-hide {
    display: none;
  }
}

@media (max-width: 700px) {
  .vw700-hide {
    display: none;
  }
}
