@import "../../sass/variables";
@import "../../sass/functions";
@import "../../sass/extends";
@import "../../sass/mixins";

.bubble{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	background: $be;
	padding: 15px;
	width: 0;
	max-width: 378px;
	margin-top: -10px;
	border-radius: 2px !important;
	color: #fff;
	line-height: 1.2;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s;
	&:after{
		@extend %ab;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-left: 10px solid $be;
		position: absolute;
		bottom: -9px;
		left: 5px;
	}
	&_visible{
		display: block;
		visibility: visible;
		opacity: 1;
	}
	&_rd{
		background: $rd;
		&:after{
			border-left-color: $rd;
		}
	}
	@media(max-width: 750px){
		font-size: 13px;
	}
}