html, body {
	font-family: $ff_hn;
	font-size: 16px;
	color: $bk;
	background: #ffffff;
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
}
 
a:hover{
	text-decoration: none;
}

h1{
	font-size: 26px;
	font-weight: 700;
	margin-bottom: em(25,26);
}

h2{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: em(25,18);
}

p{
	line-height: 1.5;
	margin: em(25) 0;
	&:first-child{
		margin-top: 0 !important;
	}
	&:last-child{
		margin-bottom: 0 !important;
	}
}