/*Title*/
.title{
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 45px;
	&-h2{
		font-size: 21px;
		font-weight: 500;
		margin-bottom: 28px;
	}
}

/*Text*/
.txt{
	font-size: 16px;
	line-height: (22/16);
	p{
		margin-bottom: 25px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}