/*toggle*/
.toggle{
	display: block;
	width:25px;
	height:25px;
	cursor:pointer;
	position: relative;
	
	span{
		height: 3px;
		background: $red;
		position: absolute;
		left: 0;
		width: 100%;
		transition: .5s;
	}

	span:first-child{
		top: 1px;
	}

	span:last-child{
		bottom: 0;
	}

	span:nth-child(2),
	span:nth-child(3){
		top: 50%;
		margin-top: -1px;
	}

	&.toggled{
		span:first-child,
		span:last-child{
			opacity: 0;
		}
		span:nth-child(2){
			transform: rotate(-45deg);
			width: 130%;
			left: -15%;
		}
		span:nth-child(3){
			transform: rotate(45deg);
			width: 130%;
			left: -15%;
		}
	}
}

/*button close*/
.btn-close{
	display: block;
	width:25px;
	height:25px;
	cursor:pointer;
	position: relative;
	
	&:after,
	&:before{
		@include ab;
		width: 130%;
		height: 3px;
		background: $red;
		position: absolute;
		left: -15%;
		top: 50%;
		margin-top: -1px;
		transition: .5s;
	}
	&:after{
		transform: rotate(-45deg);
	}
	&:before{
		transform: rotate(45deg);
	}
	&:hover{
		&:after,
		&:before{
			background: #000;
		}
	}
	&_v1{
		width: 20px;
		height: 20px;
		background: #74C447;
		&:after,
		&:before{
			height: 2px;
			background: #FFF;
		}
	}
}