.button{
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 16px 28px 14px;
	text-align: center;
	color: #FFF;
	border: 1px solid #fff;
	text-transform: uppercase;
	text-decoration: none;
	transition: .5s;
	&_arr{
		&:after{
			display: inline-block;
			content: "";
			width: 7px;
			height: 11px;
			@include sp(-43px -1px);
			margin-left: 5px;
		}
	}
	&_red{
		border: 1px solid $rd;
		background: $rd;
	}
	&_blue{
		border: 1px solid $be;
		background: $be;
	}
	&_green{
		border: 1px solid $gn;
		background: $gn;
	}
	&_shadow{
		position: relative;
	}

	&_w230{
		width: 230px;
	}
	&_w330{
		width: 330px;
	}
	&_w-full{
		width: 100%;
	}
	
	&_be-bord{
		color: $be;
		border: 1px solid $be;
		background: #FFF;
	}

	&_be-txt{
		color: $be;
		background: #FFF;
	}

	&_grn-bord{
		color: $gn;
		border: 1px solid $gn;
		background: #FFF;
	}

	&_grn-txt{
		color: $gn;
		background: #FFF;
	}

	&.lock{
		display: none;
	}

	&:hover{
		opacity: .6;
	}
	&_hov-be:hover{
		opacity: 1;
		border: 1px solid $be;
		background: $be;
	}
	
	@media(max-width: 700px){
		width: 100%;
	}
}


/*toggle*/
.toggle{
	display: block;
	width:25px;
	height:25px;
	cursor:pointer;
	position: relative;
	
	span{
		height: 3px;
		background: $rd;
		position: absolute;
		left: 0;
		width: 100%;
		transition: .5s;
	}

	span:first-child{
		top: 1px;
	}

	span:last-child{
		bottom: 0;
	}

	span:nth-child(2),
	span:nth-child(3){
		top: 50%;
		margin-top: -1px;
	}

	&.toggled{
		span:first-child,
		span:last-child{
			opacity: 0;
		}
		span:nth-child(2){
			transform: rotate(-45deg);
			width: 130%;
			left: -15%;
		}
		span:nth-child(3){
			transform: rotate(45deg);
			width: 130%;
			left: -15%;
		}
	}
}

.on-toggled{
	&-hide{
		&.toggled{
			display: none !important;
		}
	}
	&-show{
		&.toggled{
			display: block !important;
		}
	}
}

/*button close*/
.btn-close{
	display: block;
	width:25px;
	height:25px;
	cursor:pointer;
	position: relative;
	
	&:after,
	&:before{
		@include ab;
		width: 130%;
		height: 3px;
		background: $rd;
		position: absolute;
		left: -15%;
		top: 50%;
		margin-top: -1px;
		transition: .5s;
	}
	&:after{
		transform: rotate(-45deg);
	}
	&:before{
		transform: rotate(45deg);
	}
	&:hover{
		&:after,
		&:before{
			background: #000;
		}
	}
	&_v1{
		width: 20px;
		height: 20px;
		background: #74C447;
		&:after,
		&:before{
			height: 2px;
			background: #FFF;
		}
	}
}

/*button play*/
.btn-play{
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 64px;
	background: $rd;
	transition: .5s;
	&:before{
		@include ab;
		position: absolute;
		width: 0;
		height: 0;
		border: 7px solid transparent;
		border-left: 11px solid #fff;
		top: 50%;
		left: 50%;
		margin: -6px 0 0 -3px;
	}
	&:hover{
		opacity: 0.7;
	}
}