html, body {
	@include ff-hn;
	color: $bk;
	background: #ffffff;
	height: 100%;
}

body{
	&.is-menu-opened,
	&.is-popup-opened{
		position: fixed;
		left: 0;
		right: 0;
	}
}

.wrapper{
	min-width: 320px;
	overflow: hidden;
	min-height: 100%;
	position: relative;
	padding: 100px 0 21px;
	&_fsscroll{
		padding-top: 0 !important;
	}

	&__full-height{
		@include fwh;
		z-index: 2;
		padding: 100px 0 21px;
		overflow: hidden;
	}

}



/*full screen scroll*/
.fsscroll{
	&__screen{
		position: relative;
		padding: 100px 0 21px;
	}
}

a:hover{
	text-decoration: none;
}