



.form__loading-icon{
	width: 43px;
	height: 43px;
	margin: 30px auto;
	position: relative;
	&-img{
		display: block;
		@include fwh;
		background: url("../../../images/loading.svg") no-repeat 50% 50%;
		background-size: 100% 100%;
		animation: form_loading_icon .9s infinite linear;
	}
}

@keyframes form_loading_icon {
	0% {
		transform: rotate(0deg); 
	}
	100% {
		transform: rotate(360deg); 
	}
}

.form{
	font-size: 1rem;
	
	.overlabel,
	.overlabel-apply{
		display: block;
		position: absolute;
		left: 0;
		top: 2px;
		z-index: 2;
		max-width: 100%;
		cursor: text;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: 300;
	}

	&__text-input,
	&__textarea,
	&__textarea_var-h-wrap,
	&__select-button{
		display: block;
		width: 100%;
		border: 1px solid $gy;
		transition: .5s;
		&:hover,
		&:focus{
			box-shadow: 2px 1px 21px rgba(0,0,0,.21);
		}
		&:focus{
			border-color: $bk;
		}
	}

	&__textarea{
		height: 70px;
		resize: none;
		overflow: auto;
		line-height: 1.3;
		&_var-h{
			@include fwh;
			overflow: hidden;
			& + .overlabel,
			& + .overlabel-apply{
				line-height: 1.3;
			}
			&-wrap{
				height: 80px;
				.form__textarea_var-h{
					border: none;
					box-shadow: none;
				}
				.middle__block{
					position: relative;
				}
			}
		}
		&-mirror{
			min-height: 42px;
			white-space: pre-wrap;
			line-height: 1.3;
			padding: 10px 15px;
			visibility: hidden;
		}
		
	}

	&__select{
		position: relative;
		&:after{
			@include ab;
			width: 0;
			height: 0;
			border: 4px solid transparent;
			border-top: 6px solid $rd;
			position: absolute;
			right: 13px;
			top: 50%;
			margin-top: -2px;
		}
		&-button{
			padding-right: 30px !important;
			position: relative;
			text-align: left;
			z-index: 3;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-weight: 300;
			.form__select_changed &{
				font-weight: 400;
			}
		}
		&-options{
			list-style: none;
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			max-height: 186px;
			overflow: auto;
			z-index: 5;
			border: 1px solid #c3c3c3;
			border-top: none;
			background: #F0F1F2;
			display: none;
			li{
				border-top: 1px solid #c3c3c3;
				&.hidden{
					display: none;
				}
				&:first-child{
					border: none;
				}
			}
		}
		&-val{
			display: block;
			width: 100%;
			text-decoration: none;
			text-align: left;
			transition: .5s;
			&:hover{
				background: $gy;
				color: #fff;
			}
			&_checked{
				background: $rd;
				color: #fff;
			}
		}
		&_opened{
			&:after{
				border: 4px solid transparent;
				border-bottom: 6px solid $rd;
				margin-top: -7px;
			}
		}
		&_autocomplete{
			&:after{
				display: none;
			}
		}
	}

	&__text-input,
	&__textarea,
	.overlabel,
	.overlabel-apply,
	&__select-button,
	&__select-val{
		padding: 10px 15px;
	}

	&__error-tip{
		font-size: 12px;
		color: $rd;
		padding-top: 3px;
		display: none;
	}

	&__field{
		position: relative;
		margin-bottom: 14px;
		&_error{
			.form__text-input,
			.form__textarea,
			.form__select-button{
				border: 1px solid $rd;
			}
			.overlabel,
			.overlabel-apply,
			.form__select-button{
				color: $rd;
			}
			.form__error-tip{
				display: block;
			}
		}

		&_hidden{
			display: none;
		}

		&_btn{
			.form__text-input,
			.overlabel,
			.overlabel-apply{
				padding-right: 50px;
			}
		}
	}

	&__fieldset{
		transition: .5s;
		position: static;
		&_hidden{
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 0;
		}
		&-wrap{
			position: relative;
		}
	}

	&__alert{
		font-size: 13px;
		color: $rd;
		text-align: center;
		padding-top: 10px;
		display: none;
		.form_error &{
			display: block;
		}
	}

	&__chbox{
		position: relative;
		margin-bottom: 14px;
		&-input{
			position: absolute;
			left: -9999px;
			&:checked{
				& + .form__chbox-label:before{
					background: #F0F1F2 url('../images/chbox-bird.svg') no-repeat 50% 50%;
					background-size: per(25,29) auto;
				}
			}
		}
		&-label{
			display: inline-block;
			padding: 4px 0 0 33px;
			min-height: 22px;
			position: relative;
			cursor: pointer;
			&:before{
				@include ab;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border: 1px solid #C3C3C3;
				background: #F0F1F2;
				transition: border-color .5s;
			}
			&:hover:before{
				border: 1px solid $rd;
			}
		}
		&_error,
		&-group_error{
			.form__chbox-label:before{
				border: 1px solid $rd;
			}
		}
	}

	&__radio{
		position: relative;
		margin-bottom: 14px;
		&-input{
			position: absolute;
			left: -9999px;
			&:checked{
				& + .form__radio-label{
					&:after{
						@include ab;
						position: absolute;
						top: 6px;
						left: 6px;
						width: 10px;
						height: 10px;
						border-radius: 10px;
						background: $rd;
					}
				}
			}
		}
		&-label{
			display: inline-block;
			padding: 4px 0 0 33px;
			min-height: 22px;
			position: relative;
			cursor: pointer;
			&:before{
				@include ab;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border-radius: 20px;
				border: 1px solid #C3C3C3;
				background: #F0F1F2;
				transition: border-color .5s;
			}
			&:hover:before{
				border: 1px solid $rd;
			}
		}
		&-group_error{
			.form__radio-label:before{
				border: 1px solid $rd;
			}
		}
	}

	&__file{
		text-align: center;
		&-input{
			position: absolute;
			left: -9999px;
		}
		&-btn{
			font-size: 30px;
			color: $rd;
			border-bottom: 1px solid $rd;
			cursor: pointer;
			&_delete{
				display: none;
			}
		}
		&-image{
			display: block;
			width: 336px;
			height: 273px;
			line-height: 273px;
			margin-bottom: 20px;
			background: #000;
			margin: 0 auto 20px;
			text-align: center;
			img{
				max-height: 100%;
				vertical-align: middle;
			}
		}
	}

	&__btn{
		display: block;
		height: 42px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
		transition: .5s;
		&:before{
			@include ab;
			position: absolute;
			left: 50%;
			top: 50%;
		}
		&_search{
			width: 42px;
			&:before{
				width: 17px;
				height: 17px;
				@include sp(-33px -15px);
				margin: -9px 0 0 -8px;
			}
		}
		&:hover{
			opacity: .5;
		}
	}

	&__button{
		&_loading{
			position: relative;
			&:before{
				@include ab;
				@include fwh;
				background: #ffffff;
			}
			&:after{
				@include ab;
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 2;
				margin: -15px 0 0 -15px;
				width: 30px;
				height: 30px;
				background: url("../../../images/loading.svg") no-repeat 50% 50%;
				background-size: 100% 100%;
				animation: form_loading_icon .9s infinite linear;
			}
		}
	}

	&__txt{
		font-size: 14px;
		font-weight: 500;
		margin: 35px 0 14px;
	}

}




