



.form__loading-icon{
	width: 43px;
	height: 43px;
	margin: 30px auto;
	position: relative;
	&-img{
		display: block;
		@include fwh;
		background: url("../../../images/loading.svg") no-repeat 50% 50%;
		animation: form_loading_icon .9s infinite linear;
	}
}

@keyframes form_loading_icon {
	0% {
		transform: rotate(0deg); 
	}
	100% {
		transform: rotate(360deg); 
	}
}

.form{
	display: block;
	margin: 0 auto;
	max-width: 700px;
	font-size: 16px;
	
	div[class*="col"]{
		padding: 0 7px;
	}
	
	.overlabel,
	.overlabel-apply{
		display: block;
		position: absolute;
		left: 0;
		top: 2px;
		z-index: 2;
		max-width: 100%;
		cursor: text;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__text-input,
	&__textarea,
	&__select-button{
		display: block;
		width: 100%;
		border: 1px solid #c3c3c3;
	}

	&__textarea{
		height: 70px;
		resize: none;
		overflow: auto;
	}

	&__text-input,
	&__textarea,
	.overlabel,
	.overlabel-apply,
	&__select-button,
	&__select-val{
		padding: 11px 8px;
	}

	&__select{
		position: relative;
		&:after{
			@include ab;
			width: 0;
			height: 0;
			border: 4px solid transparent;
			border-top: 6px solid $red;
			position: absolute;
			right: 13px;
			top: 50%;
			margin-top: -2px;
		}
		&-button{
			padding-right: 30px;
			position: relative;
			text-align: left;
			z-index: 3;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		&-options{
			list-style: none;
			position: absolute;
			left: 0;
			top: 42px;
			width: 100%;
			max-height: 186px;
			overflow: auto;
			z-index: 5;
			border: 1px solid #c3c3c3;
			border-top: none;
			background: #F0F1F2;
			display: none;
			li{
				border-top: 1px solid #c3c3c3;
				&.hidden{
					display: none;
				}
				&:first-child{
					border: none;
				}
			}
		}
		&-val{
			display: block;
			width: 100%;
			text-decoration: none;
			text-align: left;
			transition: .5s;
			&:hover{
				background: $gray;
				color: #fff;
			}
			&_checked{
				background: $red;
				color: #fff;
			}
		}
		&_opened{
			&:after{
				border: 4px solid transparent;
				border-bottom: 6px solid $red;
				margin-top: -7px;
			}
		}
		&_search{
			&:after{
				display: none;
			}
		}
	}

	&__error-tip{
		font-size: 12px;
		color: $red;
		padding-top: 3px;
		display: none;
	}

	&__field{
		position: relative;
		margin-bottom: 14px;
		&_error{
			.form__text-input,
			.form__textarea,
			.form__select-button{
				border: 1px solid $red;
			}
			.overlabel,
			.overlabel-apply,
			.form__select-button{
				color: $red;
			}
			.form__error-tip{
				display: block;
			}
		}

		&_hidden{
			display: none;
		}

		&_btn{
			.form__text-input,
			.overlabel,
			.overlabel-apply{
				padding-right: 50px;
			}
		}
	}

	&__fieldset{
		transition: .5s;
		position: static;
		&_hidden{
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 0;
		}
		&-wrap{
			position: relative;
		}
	}

	&__alert{
		font-size: 13px;
		color: $red;
		text-align: center;
		padding-top: 10px;
		display: none;
		.form_error &{
			display: block;
		}
	}

	&__chbox{
		position: relative;
		margin-bottom: 14px;
		@include clr;
		&-input{
			position: absolute;
			left: -9999px;
			&:checked{
				& + .form__chbox-label:before{
					background: #F0F1F2 url('../images/chbox-bird.svg') no-repeat 50% 50%;
					background-size: per(25,29) auto;
				}
			}
		}
		&-label{
			display: inline-block;
			padding: 4px 0 0 33px;
			min-height: 22px;
			position: relative;
			cursor: pointer;
			&:before{
				@include ab;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border: 1px solid #C3C3C3;
				background: #F0F1F2;
				transition: border-color .5s;
			}
			&:hover:before{
				border: 1px solid $red;
			}
		}
		&_error,
		&-group_error{
			.form__chbox-label:before{
				border: 1px solid $red;
			}
		}
	}

	&__radio{
		position: relative;
		margin-bottom: 14px;
		@include clr;
		&-input{
			position: absolute;
			left: -9999px;
			&:checked{
				& + .form__radio-custom{
					&:after{
						@include ab;
						width: 10px;
						height: 10px;
						border-radius: 10px;
						background: $red;
						margin: 4px auto;
					}
				}
			}
		}
		&-custom{
			display: block;
			position: absolute;
			top: 0;
			width: 20px;
			height: 20px;
			border-radius: 20px;
			border: 1px solid #C3C3C3;
			background: #F0F1F2;
			transition: border-color .5s;
			cursor: pointer;
			&:hover{
				border: 1px solid $red;
			}
		}
		&-label{
			display: inline-block;
			padding: 3px 0 0 30px;
		}
	}

	&__file{
		text-align: center;
		&-input{
			position: absolute;
			left: -9999px;
		}
		&-btn{
			font-size: 30px;
			color: $red;
			border-bottom: 1px solid $red;
			cursor: pointer;
			&_delete{
				display: none;
			}
		}
		&-image{
			display: block;
			width: 336px;
			height: 273px;
			line-height: 273px;
			margin-bottom: 20px;
			background: #000;
			margin: 0 auto 20px;
			text-align: center;
			img{
				max-height: 100%;
				vertical-align: middle;
			}
		}
	}

	&__btn{
		display: block;
		height: 42px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
		transition: .5s;
		&:before{
			@include ab;
			position: absolute;
			left: 50%;
			top: 50%;
		}
		&_search{
			width: 42px;
			&:before{
				width: 17px;
				height: 17px;
				@include sp(-33px -15px);
				margin: -9px 0 0 -8px;
			}
		}
		&:hover{
			opacity: .5;
		}
	}

	&__submit{
		display: block;
		width: 100%;
		height: 45px;
		border: 1px solid $red;
		background: $red;
		position: relative;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 45px;
		text-align: center;
		color: #FFF;
		text-transform: uppercase;
		cursor: pointer;
		text-decoration: none;
		transition: .5s;
		&:hover{
			opacity: .7;
		}
	}

	&__txt{
		margin-bottom: 14px;
	}

}




