.form{
	
	.row{
		padding-left: 8px;
		padding-right: 8px;
		& > div[class*="col"]{
			padding-left: 7px;
			padding-right: 7px;
		}
	}
	
	.overlabel,
	.overlabel-apply{
		display: block;
		position: absolute;
		left: 0;
		top: 2px;
		z-index: 2;
		max-width: 100%;
		cursor: text;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: 300;
	}

	&__text-input,
	&__textarea,
	&__textarea_var-h-wrap{
		display: block;
		width: 100%;
		border: 1px solid $gy;
		transition: .5s;
		&:hover,
		&:focus{
			box-shadow: 2px 1px 21px rgba(0,0,0,.21);
		}
		&:focus{
			border-color: $bk;
		}
	}

	&__textarea{
		height: 80px;
		resize: none;
		overflow: auto;
		line-height: 1.3;
		&_var-h{
			@include fwh;
			overflow: hidden;
			& + .overlabel,
			& + .overlabel-apply{
				line-height: 1.3;
			}
			&-wrap{
				height: 120px !important;
				.form__textarea_var-h{
					border: none;
					box-shadow: none;
				}
				.middle__inner{
					position: relative;
				}
			}
		}
		&-mirror{
			min-height: 42px;
			white-space: pre-wrap;
			line-height: 1.3;
			padding: 10px 15px;
			visibility: hidden;
		}
		
	}

	

	&__text-input,
	&__textarea,
	.overlabel,
	.overlabel-apply{
		padding: 10px 15px;
	}

	&__error-tip{
		font-size: 12px;
		color: $rd;
		padding-top: 3px;
		display: none;
	}

	&__field{
		position: relative;
		margin-bottom: 14px;
		&_error{
			.form__text-input,
			.form__textarea{
				border: 1px solid $rd;
			}
			.overlabel,
			.overlabel-apply{
				color: $rd;
			}
			.form__error-tip{
				display: block;
			}
		}

		&_hidden{
			display: none;
		}

		&_btn{
			.form__text-input,
			.overlabel,
			.overlabel-apply{
				padding-right: 50px;
			}
		}
	}

	&__fieldset{
		transition: .5s;
		position: static;
		&_hidden{
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 0;
		}
		&-wrap{
			position: relative;
		}
	}

	&__alert{
		font-size: 13px;
		color: $rd;
		text-align: center;
		padding-top: 10px;
		display: none;
		.form_error &{
			display: block;
		}
	}

	&__chbox{
		position: relative;
		margin-bottom: 14px;
		&-input{
			position: absolute;
			left: -9999px;
			&:checked{
				& + .form__chbox-label:before{
					@include sp(-32px -17px);
				}
			}
		}
		&-label{
			display: inline-block;
			padding: 4px 0 0 33px;
			min-height: 22px;
			position: relative;
			cursor: pointer;
			&:before{
				@include ab;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border: 1px solid #C3C3C3;
				background: #F0F1F2;
				transition: border-color .5s;
			}
			&:hover:before{
				border: 1px solid $rd;
			}
		}
		&_error,
		&-group_error{
			.form__chbox-label:before{
				border: 1px solid $rd;
			}
		}
	}

	&__radio{
		position: relative;
		margin-bottom: 14px;
		&-input{
			position: absolute;
			left: -9999px;
			&:checked{
				& + .form__radio-label{
					&:after{
						@include ab;
						position: absolute;
						top: 6px;
						left: 6px;
						width: 10px;
						height: 10px;
						border-radius: 10px;
						background: $rd;
					}
				}
			}
		}
		&-label{
			display: inline-block;
			padding: 4px 0 0 33px;
			min-height: 22px;
			position: relative;
			cursor: pointer;
			&:before{
				@include ab;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border-radius: 20px;
				border: 1px solid #C3C3C3;
				background: #F0F1F2;
				transition: border-color .5s;
			}
			&:hover:before{
				border: 1px solid $rd;
			}
		}
		&-group_error{
			.form__radio-label:before{
				border: 1px solid $rd;
			}
		}
	}

	&__btn{
		display: block;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
		transition: .5s;
		&:before{
			@include ab;
			position: absolute;
			left: 50%;
			top: 50%;
		}
		&_search{
			width: 42px;
			&:before{
				width: 13px;
				height: 17px;
				@include sp;
				margin: -9px 0 0 -6px;
			}
		}
		&:hover{
			opacity: .5;
		}
	}

	&__submit{
		&_loading{
			position: relative;
			&:before{
				@include ab;
				@include fwh;
				background: #ffffff;
				z-index: 2;
			}
			&:after{
				@include ab;
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 3;
				margin: -15px 0 0 -15px;
				width: 30px;
				height: 30px;
				background: url("../../../images/loading.svg") no-repeat 50% 50%;
				background-size: 100% 100%;
				animation: form_loading_icon .9s infinite linear;
			}
		}
	}

}


@keyframes form_loading_icon {
	0% {
		transform: rotate(0deg); 
	}
	100% {
		transform: rotate(360deg); 
	}
}