.wrapper{
	min-width: 320px;
	overflow: hidden;
	min-height: 100%;
	position: relative;
	padding: 100px 0;
	background-image: linear-gradient(to bottom, #ffe716, #fff8ba);
	&_fsscroll{
		padding-top: 0 !important;
	}

	&__full-height{
		@include fwh;
		z-index: 2;
		padding: 100px 0;
		overflow: hidden;
	}

}

.wrap{
	margin: 0 auto;
	max-width: 980px;
	padding-left: 30px;
	padding-right: 30px;
	@media(max-width: 1000px){
		padding-left: 0;
		padding-right: 0;
	}
}

.pad{
	padding-left: 15px;
	padding-right: 15px;
	&.wrap{
		padding-left: 45px;
		padding-right: 45px;
	}
	&-0{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.container{
	padding-top: 50px;
	padding-bottom: 50px;
}


.row{
	@include clr;

	& > div[class*="col"]{
		float: left;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}

	& > div[class*="pull"],
	& > div[class*="push"]{
		position: relative;
	}

	&__br{
		display: block;
		width: 100%;
		clear: both;
	}

	&-col-mid,
	&-col-bot{
		font-size: 0 !important;
		&:before{
			display: inline-block;
			content: "";
			height: 100%;
		}

		& > div[class*="col"]{
			display: inline-block;
			min-height: 1px;
			padding-left: 15px;
			padding-right: 15px;
			font-size: 16px;
		}

	}

	&-col-mid{
		&:before,
		& > div[class*="col"]{
			vertical-align: middle;
		}
	}

	&-col-bot{
		&:before,
		& > div[class*="col"]{
			vertical-align: bottom;
		}
	}

	&-tbl{
		display: table;
		width: 100%;
		& > div[class*="col"]{
			display: table-cell;
			vertical-align: top;
			min-height: 1px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&_full-height{
		&, & > div[class*="col"]{
			height: 100%;
		}
	}

	&-col-pad-0{
		padding-left: 15px;
		padding-right: 15px;
		& > div[class*="col"]{
			padding-left: 0;
			padding-right: 0;
		}
		&.wrap{
			padding-left: 45px;
			padding-right: 45px;
		}
	}
	
}

.col{
	&-0-1{
		width: 4.166665%;
	}
	&-1{
		width: 8.33333%;
	}
	&-1-2{
		width: 12.499995%;
	}
	&-2{
		width: 16.66666%;
	}
	&-2-3{
		width: 20.83333%;
	}
	&-3{
		width: 25%;
	}
	&-3-4{
		width: 29.16666%;
	}
	&-4{
		width: 33.33332%;
	}
	&-4-5{
		width: 37.499985%;
	}
	&-5{
		width: 41.66665%;
	}
	&-5-6{
		width: 45.833325%;
	}
	&-6{
		width: 50%;
	}
	&-6-7{
		width: 54.166665%;
	}
	&-7{
		width: 58.33333%;
	}
	&-7-8{
		width: 62.499985%;
	}
	&-8{
		width: 66.66664%;
	}
	&-8-9{
		width: 70.833305%;
	}
	&-9{
		width: 74.99997%;
	}
	&-9-10{
		width: 79.166635%;
	}
	&-10{
		width: 83.33333%;
	}
	&-10-11{
		width: 87.499995%;
	}
	&-11{
		width: 91.66663%;
	}
	&-11-12{
		width: 95.833295%;
	}
	&, &-12{
		width: 100%;
		float: none !important;
		clear: both;
	}

	&-right{
		float: right !important;
	}

	&-center{
		margin: auto;
	}

	&-offset-1{
		margin-left: 8.33333%;
	}

	&-offset-3{
		margin-left: 25%;
	}

	&-pull-3{
		right: 25%;
	}

	&-push-6{
		left: 50%;
	}

}

/*middleBlock*/
.middle{
	height: 100%;
	font-size: 0;
	&:before{
		display: inline-block;
		content: "";
		height: 100%;
		vertical-align: middle;
	}
	&__block{
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		font-size: 16px;
	}
}



@media(max-width: 1200px){
	.vw1200{
		&-row{
			&-col{
				display: block;
				& > div[class*="col"]{
					display: block;
					float: none;
					width: 100%;
					left: 0;
					right: 0;
				}
				&.row-col-mid:before,
				&.row-col-bot:before{
					display: none;
				}
			}
		}
		&-col{
			&-0-1{
				width: 4.166665%;
			}
			&-1{
				width: 8.33333%;
			}
			&-1-2{
				width: 12.499995%;
			}
			&-2{
				width: 16.66666%;
			}
			&-2-3{
				width: 20.83333%;
			}
			&-3{
				width: 25%;
			}
			&-3-4{
				width: 29.16666%;
			}
			&-4{
				width: 33.33332%;
			}
			&-4-5{
				width: 37.499985%;
			}
			&-5{
				width: 41.66665%;
			}
			&-5-6{
				width: 45.833325%;
			}
			&-6{
				width: 50%;
			}
			&-6-7{
				width: 54.166665%;
			}
			&-7{
				width: 58.33333%;
			}
			&-7-8{
				width: 62.499985%;
			}
			&-8{
				width: 66.66664%;
			}
			&-8-9{
				width: 70.833305%;
			}
			&-9{
				width: 74.99997%;
			}
			&-9-10{
				width: 79.166635%;
			}
			&-10{
				width: 83.33333%;
			}
			&-10-11{
				width: 87.499995%;
			}
			&-11{
				width: 91.66663%;
			}
			&-11-12{
				width: 95.833295%;
			}
			&, &-12{
				width: 100%;
				float: none !important;
				clear: both;
			}
			&-offset-0{
				margin-left: 0;
			}
		}
	}
}

@media(max-width: 1000px){
	.vw1000{
		&-row{
			&-col{
				display: block;
				& > div[class*="col"]{
					display: block;
					float: none;
					width: 100%;
					left: 0;
					right: 0;
				}
				&.row-col-mid:before,
				&.row-col-bot:before{
					display: none;
				}
			}
		}
		&-col{
			&-0-1{
				width: 4.166665%;
			}
			&-1{
				width: 8.33333%;
			}
			&-1-2{
				width: 12.499995%;
			}
			&-2{
				width: 16.66666%;
			}
			&-2-3{
				width: 20.83333%;
			}
			&-3{
				width: 25%;
			}
			&-3-4{
				width: 29.16666%;
			}
			&-4{
				width: 33.33332%;
			}
			&-4-5{
				width: 37.499985%;
			}
			&-5{
				width: 41.66665%;
			}
			&-5-6{
				width: 45.833325%;
			}
			&-6{
				width: 50%;
			}
			&-6-7{
				width: 54.166665%;
			}
			&-7{
				width: 58.33333%;
			}
			&-7-8{
				width: 62.499985%;
			}
			&-8{
				width: 66.66664%;
			}
			&-8-9{
				width: 70.833305%;
			}
			&-9{
				width: 74.99997%;
			}
			&-9-10{
				width: 79.166635%;
			}
			&-10{
				width: 83.33333%;
			}
			&-10-11{
				width: 87.499995%;
			}
			&-11{
				width: 91.66663%;
			}
			&-11-12{
				width: 95.833295%;
			}
			&, &-12{
				width: 100%;
				float: none !important;
				clear: both;
			}
			&-offset-0{
				margin-left: 0;
			}
		}
	}
}


/*full screen scroll*/
.fsscroll{
	&__screen{
		position: relative;
		padding: 100px 0;
	}
}