.header{
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	transition: .21s;
	transform: translate3d(0, 0, 0);
	&_fixed,
	&.toggled{
		background: #FFF;
		box-shadow: 0 1px 11px rgba(0,0,0,.21);
	}
	&__wrap{
		height: 100px;
		max-width: none;
	}
	&__logo{
		img{
			width: 100%;
			max-width: 121px;
			height: auto;
		}
	}
	&__nav{
		float: left;
		&-wrap{
			float: right;
		}
	}
	&__toggle{
		display: none !important;
	}
	&__user{
		float: left;
		margin-left: 25px;
	}
	
	@media(max-width: 1000px){
		&__nav{
			float: none;
			padding: 20px 0;
			&-wrap{
				float: none;
				visibility: hidden;
				opacity: 0;
				position: fixed;
				top: 100px;
				bottom: 0;
				left: 0;
				width: 100%;
				overflow: auto;
				background: #FFF;
				border-top: 1px solid $lgy;
				transition: .5s;
				&.toggled{
					visibility: visible;
					opacity: 1;
				}
			}
		}
		&__toggle{
			display: block !important;
			position: absolute !important;
			right: 15px;
			top: 50%;
			margin-top: -12px;
		}
	}
}

/*Menu*/
.menu{
	@include clr;
	list-style: none;
	padding-top: 8px;
	&__item{
		float: left;
		margin-left: 45px;
		&:first-child{
			margin: 0;
		}
		&_has-children{
			position: relative;
		}
	}
	&__a{
		font-size: 18px;
		font-weight: 500;
		text-decoration: none;
		transition: .5s;
		&:hover{
			color: $rd;
		}
	}
	&__arr{
		display: none;
		width: 12px;
		height: 8px;
		position: relative;
		bottom: 2px;
		margin-left: 7px;
		border: none;
		background: none;
		@include sp(-36px -34px);
		.menu__item_has-children &{
			display: inline-block;
		}
	}
	&__sub-menu{
		position: absolute;
		list-style: none;
		width: 6000%;
		padding: 24px 0 16px 3000%;
		top: 100%;
		left: -3000%;
		visibility: hidden;
		opacity: 0;
		transition: .3s;
		.header_fixed &{
			background: #ffffff;
			box-shadow: 0 3px 3px rgba(0,0,0,.11);
		}
		&-item{
			float: left;
			margin-right: 25px;
		}
		&-a{
			font-size: 14px;
			font-weight: 300;
			text-decoration: none;
			display: inline-block;
			transition: .5s;
			&:hover{
				color: $rd;
			}
		}
		.menu__item_has-children:hover &{
			visibility: visible;
			opacity: 1;
		}
	}

	@media(max-width: 1200px){
		&__item{
			font-size: 16px;
		}
	}
	@media(max-width: 1000px){
		&__item{
			float: none;
			text-align: center;
			margin: 0;
			padding: 15px 0;
		}
		&__a{
			.menu__item_has-children &{
				margin-left: 21px;
			}
		}
		&__sub-menu{
			width: auto;
			left: 0;
			padding: 14px 0 0;
			box-shadow: none !important;
			position: relative;
			visibility: visible;
			opacity: 1;
			display: none;
			&-item{
				float: none;
				margin: 0;
				padding: 9px 0;
			}
			.menu__item_has-children:hover &{
				display: block;
			}
		}
	}
}

/*User*/
.user{
	height: 34px;
	position: relative;
	&__thumb{
		display: inline-block;
		width: 34px;
		height: 34px;
		border-radius: 34px;
		vertical-align: middle;
		overflow: hidden;
	}
	&__name{
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 21px;
		text-align: right;
	}

	&__link{
		text-decoration: none;
		transition: .5s;
		&:hover{
			color: $rd;
		}
		&-logout{
			font-size: 13px;
			margin-top: 3px;
			opacity: .8;
		}
	}
	&__bubble{
		width: 250px;
		top: 45px;
		right: 0;
		padding: 25px;
	}
}