.cover-img{
	display: block;
	opacity: 0;
	transition: opacity .21s;
	&_w{
		width: 100%;
		height: auto;
		min-height: 100%;
		opacity: 1;
	}
	&_h{
		height: 100%;
		width: auto;
		min-width: 100%;
		opacity: 1;
	}
	&-wrap{
		overflow: hidden;
	}
}

.middle__img{
	display: inline-block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	font-size: 1rem;
}

.bottom__img{
	display: inline-block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom;
	font-size: 1rem;
}

.responsive-img{
	display: inline-block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.full-width-img{
	display: block;
	width: 100%;
	height: auto;
}