.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	width: 100%;
	
	@media(min-width: 1001px){
		transform: translate3d(0, 0, 0);
	}
}

.main{
	flex: 1 0 auto;
	position: relative;
	padding-top: 100px;
	
	&__full-height{
		@extend %fwh;
		z-index: 2;
		overflow: hidden;
	}

	@media(max-width: 1000px){
		&__full-height{
			position: static;
			height: auto;
			padding: 0 !important;
			overflow: visible;
		}
	}
}

.footer{
	flex: 0 0 auto;
}

.section{
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	&-outer{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	&-inner{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}