.wrapper{
	min-width: 320px;
	overflow: hidden;
	min-height: 100%;
	position: relative;
	padding-top: 100px;
	display: flex;
	flex-direction: column;

	&__full-height{
		@extend %fwh;
		z-index: 2;
		padding-top: 100px;
		overflow: hidden;
	}

	@media(max-width: 1000px){
		&__full-height{
			position: static;
			height: auto;
			padding: 0 !important;
			overflow: visible;
		}
	}
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	width: 100%;
	
	@media(min-width: 1001px){
		transform: translate3d(0, 0, 0);
	}
}

.main{
	flex: 1 0 auto;
	position: relative;
	
	&__full-height{
		@extend %fwh;
		z-index: 2;
		overflow: hidden;
	}

	@media(max-width: 1000px){
		&__full-height{
			position: static;
			height: auto;
			padding: 0 !important;
			overflow: visible;
		}
	}
}

.footer{
	flex: 0 0 auto;
}