@mixin clr() {
	&:after{
		display: block;
		content: "";
		width: 100%;
		clear: both;
	}
}

//fixProportion
@mixin fixprop($width: 1, $height: 1) {
	&:before{
		display: block;
		content: "";
		width: 100%;
		padding-bottom: $height * (100 / $width) * 1%;
	}
}

//gulp svg sprite bg size
$sprite-width: 2092;
@mixin bgs($icon-svg-w: 1) {
	background-size: ($sprite-width / $icon-svg-w) * 100% auto;
}