html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, img, strong, b, i, ol, ul, li, form, label, input, textarea, button, header, footer, section, nav, article, aside {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  vertical-align: baseline;
  color: inherit;
  background: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
  -webkit-appearance: none;
}

b, strong {
  font-weight: 700;
}

header, footer, section, nav, article, aside {
  display: block;
}

button{
  overflow: visible;
  cursor: pointer;
}

html, body {
  font-size: 16px;
  font-weight: 400;
}

img{
  vertical-align: bottom;
}