%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

%svg-arrow-alt-circle-down {
	@extend %svg-common;
	background-position: 0 50%;
}

%svg-arrow-alt-circle-down-dims {
	width: 532px;
	height: 532px;
}

%svg-arrow-right {
	@extend %svg-common;
	background-position: 32.758620689655174% 50%;
}

%svg-arrow-right-dims {
	width: 468px;
	height: 532px;
}

%svg-check {
	@extend %svg-common;
	background-position: 100% 0;
}

%svg-check-dims {
	width: 432px;
	height: 432px;
}

%svg-facebook {
	@extend %svg-common;
	background-position: 73.39901477832512% 0;
}

%svg-facebook-dims {
	width: 468px;
	height: 532px;
}

%svg-odnoklassniki {
	@extend %svg-common;
	background-position: 68.03652968036529% 50%;
}

%svg-odnoklassniki-dims {
	width: 340px;
	height: 532px;
}

%svg-plus-circle {
	@extend %svg-common;
	background-position: 0 100%;
}

%svg-plus-circle-dims {
	width: 532px;
	height: 532px;
}

%svg-search {
	@extend %svg-common;
	background-position: 34.1025641025641% 100%;
}

%svg-search-dims {
	width: 532px;
	height: 532px;
}

%svg-twitter {
	@extend %svg-common;
	background-position: 68.2051282051282% 100%;
}

%svg-twitter-dims {
	width: 532px;
	height: 532px;
}

%svg-vk {
	@extend %svg-common;
	background-position: 0 0;
}

%svg-vk-dims {
	width: 596px;
	height: 532px;
}

%svg-youtube {
	@extend %svg-common;
	background-position: 39.839572192513366% 0;
}

%svg-youtube-dims {
	width: 596px;
	height: 532px;
}

