%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

%svg-arrow-alt-circle-down {
	@extend %svg-common;
	background-position: 52.94117647058823% 0;
}

%svg-arrow-alt-circle-down-dims {
	width: 512px;
	height: 512px;
}

%svg-arrow-right {
	@extend %svg-common;
	background-position: 0 100%;
}

%svg-arrow-right-dims {
	width: 448px;
	height: 512px;
}

%svg-plus-circle {
	@extend %svg-common;
	background-position: 41.1764705882353% 100%;
}

%svg-plus-circle-dims {
	width: 512px;
	height: 512px;
}

%svg-search {
	@extend %svg-common;
	background-position: 100% 0;
}

%svg-search-dims {
	width: 512px;
	height: 512px;
}

%svg-youtube {
	@extend %svg-common;
	background-position: 0 0;
}

%svg-youtube-dims {
	width: 576px;
	height: 512px;
}

