%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

%svg-arrow-right {
	@extend %svg-common;
	background-position: 0 0;
}

%svg-arrow-right-dims {
	width: 448px;
	height: 512px;
}

%svg-plus-circle {
	@extend %svg-common;
	background-position: 46.666666666666664% 0;
}

%svg-plus-circle-dims {
	width: 512px;
	height: 512px;
}

%svg-search {
	@extend %svg-common;
	background-position: 100% 0;
}

%svg-search-dims {
	width: 512px;
	height: 512px;
}

