%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

%svg-angle-down {
	@extend %svg-common;
	background-position: 25.26997840172786% 50%;
}

%svg-angle-down-dims {
	width: 340px;
	height: 532px;
}

%svg-arrow-alt-circle-down {
	@extend %svg-common;
	background-position: 0 100%;
}

%svg-arrow-alt-circle-down-dims {
	width: 532px;
	height: 532px;
}

%svg-arrow-right {
	@extend %svg-common;
	background-position: 0 50%;
}

%svg-arrow-right-dims {
	width: 468px;
	height: 532px;
}

%svg-check {
	@extend %svg-common;
	background-position: 94.31818181818181% 91.40893470790378%;
}

%svg-check-dims {
	width: 432px;
	height: 432px;
}

%svg-facebook {
	@extend %svg-common;
	background-position: 69.1415313225058% 0;
}

%svg-facebook-dims {
	width: 468px;
	height: 532px;
}

%svg-odnoklassniki {
	@extend %svg-common;
	background-position: 89.63282937365011% 50%;
}

%svg-odnoklassniki-dims {
	width: 340px;
	height: 532px;
}

%svg-plus-circle {
	@extend %svg-common;
	background-position: 32.04819277108434% 100%;
}

%svg-plus-circle-dims {
	width: 532px;
	height: 532px;
}

%svg-search {
	@extend %svg-common;
	background-position: 64.09638554216868% 100%;
}

%svg-search-dims {
	width: 532px;
	height: 532px;
}

%svg-twitter {
	@extend %svg-common;
	background-position: 100% 0;
}

%svg-twitter-dims {
	width: 532px;
	height: 532px;
}

%svg-vk {
	@extend %svg-common;
	background-position: 37.34335839598997% 0;
}

%svg-vk-dims {
	width: 596px;
	height: 532px;
}

%svg-youtube {
	@extend %svg-common;
	background-position: 0 0;
}

%svg-youtube-dims {
	width: 596px;
	height: 532px;
}

