@import "variables";
@import "extends";

html, body {
	font-family: $ff_hn;
	font-size: 16px;
	color: $bk;
	background: #ffffff;
	height: 100%;
}

a:hover{
	text-decoration: none;
}

body{
	display: flex;
	flex-direction: column;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	width: 100%;
	
	@media(min-width: 1001px){
		transform: translate3d(0, 0, 0);
	}
}

main{
	flex: 1 0 auto;
	position: relative;
	padding-top: 100px;
}

footer{
	flex: 0 0 auto;
}

h1, h2{
	margin-bottom: 20px;
}

h1{
	font-size: 25px;
}