html, body {
    font-family: $ff;
    font-size: 16px;
    color: $bk;
    background: #ffffff;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    & > svg{
        width: 0;
        height: 0;
    }
}
a:hover{
    text-decoration: none;
}
hr{
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid $gy;
}
figure{
    img{
        @extend %fw-img;
    }
}
figcaption{
    font-size: em(12);
    color: $gy;
    margin-top: em(14,12);
    line-height: (16/12);
}