@import "variables";
@import "functions";
@import "extends";
@import "mixins";

%btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #FFF;
	padding: 0 15px;
	height: 43px;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	vertical-align: bottom;
	border: none;
	background: $bk;
	user-select: none;
	position: relative;
	transition: .5s;
	span{
		display: block;
		width: 100%;
	}
}

%btn-icon{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
}

//default btn
.btn{
	@extend %btn;
	width: 150px;
}

//arrow btn
.arrow-btn{
	@extend %btn;
	padding-right: 43px;

	&:after{
		@extend %btn-icon;
		width: 15px;
		height: 16px;
		right: 15px;
		margin-top: -8px;
	}
}

//plus btn
.plus-btn{
	@extend %btn;
	padding-left: 55px;
	border-radius: 32px;
	
	&:after{
		@extend %btn-icon;
		width: 32px;
		height: 32px;
		left: 6px;
		margin-top: -16px;
	}
}

/* icon button */
%icon-btn{
	display: inline-block;
	border: none;
	background: none;
	-webkit-appearance: none;
	transition: .5s;
	&:hover{
		opacity: .55;
	}
}

.vk-btn{
	@extend %icon-btn;
	width: 46px;
	height: 37px;
}
.fb-btn{
	@extend %icon-btn;
	width: 32px;
	height: 36px;
}
.tw-btn{
	@extend %icon-btn;
	width: 35px;
	height: 35px;
}
.ok-btn{
	@extend %icon-btn;
	width: 21px;
	height: 35px;
}

/* link */
%link{
	text-decoration: none;
	border-bottom: 1px solid;
	transition: .21s;
	&:hover{
		border-bottom-color: transparent;
	}
}
.link{
	@extend %link;
	color: $be;
	border-bottom-color: $be;
}
.green-link{
	@extend %link;
	color: $gn;
	border-bottom-color: $gn;
	&_dash{
		border-bottom-style: dashed;
	}
	&_rev{
		border-bottom-color: transparent;
		&:hover{
			border-bottom-color: $gn;
		}
	}
}

/*paginate*/
.paginate{
	list-style: none;
	text-align: center;
	&__item{
		display: inline-block;
		vertical-align: middle;
		margin: 0 3px;
	}
	&__a,
	&__curr{
		display: block;
		width: 36px;
		height: 36px;
		line-height: 36px;
		font-size: 21px;
		color: #000000;
		text-align: center;
		text-decoration: none;
	}
	&__a{
		opacity: .3;
		transition: .5s;
		&:hover{
			opacity: .7;
		}
	}
	&__prev,
	&__next{
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin: 0 7px;
		&_disabled{
			opacity: .2;
		}
	}
}