@font-face {
    font-family: 'font';
    src: url('../fonts/fontname.woff2') format('woff2'),
    url('../fonts/fontname.woff') format('woff'), 
    url('../fonts/fontname.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}