@import "variables";
@import "functions";
@import "extends";
@import "mixins";
@import "sprite";

/*Title*/
.title{
	font-size: 26px;
	font-weight: 700;
	margin-bottom: em(25, 26);
	&-h2{
		font-size: 18px;
		font-weight: 500;
		margin-bottom: em(25, 18);
	}
}

/*Text*/
.txt{
	line-height: (22/16);
	p{
		margin: em(25) 0;
		&:first-child{
			margin-top: 0 !important;
		}
		&:last-child{
			margin-bottom: 0 !important;
		}
	}
}

/*list*/
ul.list{
	list-style: none;
	li{
		line-height: (24/16);
		padding-left: 30px;
		margin: em(30) 0;
		position: relative;
		&:before{
			@extend %ab;
			width: 9px;
			height: 9px;
			position: absolute;
			left: 3px;
			top: 6px;
			background: $rd;
		}
	}	
}

/*link*/
.link{
	text-decoration: none;
	border-bottom: 2px solid $gn;
	transition: .5s;
	&:hover{
		border-bottom-color: transparent;
	}
}

/*text color*/
.c-red{
	color: $rd;
}
.c-gray{
	color: $gy;
}

/*text align*/
.ta-c{
	text-align: center;
}
.ta-r{
	text-align: right;
}