@import "variables";
@import "functions";
@import "extends";
@import "mixins";
@import "sprite";

/*section*/
.section{
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	&-outer{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	&-inner{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

/*list*/
.list{
	list-style: none;
	li{
		line-height: (24/16);
		padding-left: 30px;
		margin: em(30) 0;
		position: relative;
		&:before{
			@extend %ab;
			width: 9px;
			height: 9px;
			position: absolute;
			left: 3px;
			top: 6px;
			background: $rd;
		}
	}	
}

/*link*/
.link{
	text-decoration: none;
	border-bottom: 2px solid $gn;
	transition: .5s;
	&:hover{
		border-bottom-color: transparent;
	}
}

/*bubble*/
.bubble{
	display: block;
	position: absolute;
	background: #FFF;
	box-shadow: 2px 1px 21px rgba(0,0,0,.21);
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s;
	&.toggled{
		visibility: visible;
		opacity: 1;
	}
}