/* main */
.main{
    flex: 1 0 auto;
    position: relative;
    overflow: hidden;
    &, &__full-page{
        padding-top: 100px;
    }
    &__full-page{
        @extend %fwh;
        overflow: hidden;
    }
}
 
/* first screen */
.first-screen{
    overflow: hidden;
    & > .row_col-middle{
        height: 100%;
    }
    @media(min-width: 1201px){
        height: 100vh;
    }
}

/* section */
.section{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* list */
.list{
    list-style: none;
    li{
        padding-left: rem(30);
        @include fch(t);
        position: relative;
        &:before{
            @extend %ab;
            position: absolute;
        }
    }
}
ul.list{
    li{
        &:before{
            width: rem(20);
            height: rem(20);
            left: 0;
            top: 0;
            background: $rd;
        }
    }
}
ol.list{
    counter-reset: listCounter;
    li{
        &:before{
            counter-increment: listCounter;
            content: counter(listCounter)".";
            top: 0;
            left: 0;
        }
    }
}

/* table */
table.table{
    width: 100%;
    border-collapse: collapse;
    tr{
        &:first-child{
            border-top: 1px solid $gy;
        }
        td{
            border-bottom: 1px solid $gy;
            padding: 15px 0;
            &:first-child{
                color: $gy;
            }
            &:last-child{
                text-align: right;
            }
        }
    }
}

/* title */
.title{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: em(35,30);
}

/* article */
.article{
    h2{
        font-size: 22px;
        font-weight: 700;
        line-height: 1.2;
        margin: 45px 0 30px;
        @include fch(t);
    }
    p{
        line-height: 1.35;
        margin-top: 25px;
        @include fch(t);
    }
    blockquote{
        line-height: 1.35;
        margin-top: 35px;
        @include fch(t);
    }
}

/* tile */
.tile{
	&-wrap{
		& > div{
			display: flex;
			.tile{
				flex: 1 0 100%;
			}
		}
	}
}