html, body {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 16px;
    color: $bk;
    background: $gy;
}

.wpd{
    width: r(930);
    height: r(1310);
    background: url('../images/Screenshot_20221111_200530.jpg') no-repeat;
    background-size: 100% auto;
    padding: r(16) r(42);
    margin: 0 auto;
    &__head{
        @include clr;
        &-left{
            float: left;
            img{
                width: 50px;
            }
            span{
                line-height: 30px;
            }
        }
        &-right{
            float: right;
            width: r(268);
            text-align: center;
            &-top{
                height: r(35);
                padding-top: r(8);
                border: 3px solid $bk;
            }
            &-bot{
                height: r(31);
                padding-top: r(8);
                background: $gy;
            }
        }
    }
    &__subhead{
        margin-top: r(4);
        font-weight: 700;
        line-height: r(19);
        font-size: r(14);
    }
    &__descr{
        font-size: r(13);
        margin-top: r(14);
        line-height: r(10);
        font-style: italic;
    }
    &__border{
        text-align: center;
        margin-top: r(9);
        p{
            display: inline-block;
            padding: r(10) r(20);
            border: 1px solid $bk;
            font-size: r(10);
            font-weight: 700;
        }
    }
    &__block{
        margin-top: r(11);
        &-head{
            font-size: r(11);
            border-bottom: 2px solid $bk;
            font-weight: 700;
        }
    }
    &__row{
        @include clr;
        margin-top: 10px;
        &-left{
            float: left;
            max-width: 30%;
            width: 30%;
            padding-right: 20px;
            &_p-0{
                padding: 0;
            }
        }
        &-right{
            float: right;
            max-width: 70%;
            width: 70%;
        }
        &_m-0{
            margin: 0;
        }
        &_25-75{
            .wpd__row{
                &-left{
                    max-width: 25%;
                    width: 25%;
                }
                &-right{
                    max-width: 75%;
                    width: 75%;
                }
            }
        }
    }
    &__label{
        font-size: smaller;
        text-align: right;
        padding-top: 10px;
        &_p-0{
            padding: 0;
        }
    }
    &__field{
        font-size: 0;
        white-space: nowrap;
        span{
            display: inline-block;
            width: 30px;
            height: 35px;
            line-height: 33px;
            text-align: center;
            border: 2px solid $dgy;
            background: $lgy;
            margin-left: -2px;
            font-size: 16px;
            vertical-align: top;
            &.separ{
                background: none;
                border: none;
            }
        }
    }
    &__check{
        font-size: small;
        padding-top: 10px;
        span{
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 2px solid $dgy;
            background: $lgy;
            vertical-align: middle;
        }
        &_p-0{
            padding: 0;
        }
    }
}