/* main */
.main{
    flex: 1 0 auto;
    position: relative;
    overflow: hidden;
    &, &__full-page{
        padding-top: 100px;
    }
    &__full-page{
        @extend %fwh;
        overflow: hidden;
    }
}

/* first screen */
.first-screen{
    overflow: hidden;
    & > .row_col-middle{
        height: 100%;
    }
    @media(min-width: 1201px){
        height: 100vh;
    }
}

/* section */
.section{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* list */
.list{
    list-style: none;
    li{
        padding-left: em(30);
        @include fch(t);
        position: relative;
        &:before{
            @extend %ab;
            position: absolute;
        }
    }
}
ul.list{
    li{
        &:before{
            width: em(20);
            height: em(20);
            left: 0;
            top: 0;
            background: $rd;
        }
    }
}
ol.list{
    counter-reset: listCounter;
    li{
        &:before{
            counter-increment: listCounter;
            content: counter(listCounter)".";
            top: 0;
            left: 0;
        }
    }
}

/* title */
.title{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: em(35,30);
}

/* article */
.article{
    line-height: (28/16);
    h2{
        font-size: em(28);
        font-weight: 700;
        line-height: 1.35;
        margin: em(30,28) 0 em(19,28);
        @include fch(t);
        & + p{
            margin-top: 0;
        }
    }
    h3{
        margin: em(30) 0 em(7);
        font-weight: 700;
        line-height: 1.35;
        & + p{
            margin-top: 0;
        }
    }
    p{
        margin-top: em(20);
        @include fch(t);
        img{
            margin: 0;
        }
    }
    img{
        @extend %fw-img;
        margin-top: em(20);
    }
    blockquote{
        font-size: em(20);
        line-height: (28/20);
        border-left: em(8,20) solid $gy;
        padding-left: em(40,20);
        margin: em(50,20) 0;
    }
    ul{
        list-style: none;
        margin: em(30) 0 em(19);
        @include fch(t);
        & + p{
            margin-top: 0;
        }
        li{
            padding-left: em(49);
            margin-top: em(20);
            @include fch(t);
            position: relative;
            &:before{
                @extend %ab;
                position: absolute;
                width: em(13);
                height: em(13);
                left: 0;
                top: em(5);
                border: 2px solid $gy;
                border-radius: 50%;
            }
        }
    }
    @media(max-width: 750px){
        font-size: 14px;
        h2{
            font-size: 20px;
        }
    }
}

/* tile */
.tile{
    @extend %tile-item;
    &-wrap{
        @extend %tile-wrap;
    }
}