.wpd{
    max-width: 70%;
    background: #fff;
    padding: 50px;
    margin: 0 auto;
    &__head{
        @include clr;
        &-left{
            float: left;
            img{
                width: 50px;
            }
            span{
                line-height: 30px;
            }
        }
        &-right{
            float: right;
            width: 200px;
            text-align: center;
            &-top{
                height: 35px;
                line-height: 35px;
                border: 3px solid $bk;
            }
            &-bot{
                height: 35px;
                line-height: 35px;
                background: $gy;
            }
        }
    }
    &__subhead{
        margin-top: 10px;
        font-weight: 700;
        line-height: 18px;
    }
    &__descr{
        font-size: smaller;
    }
    &__border{
        text-align: center;
        margin-top: 15px;
        p{
            display: inline-block;
            padding: 10px;
            border: 1px solid $bk;
            font-weight: 700;
        }
    }
    &__block{
        margin-top: 15px;
        &-head{
            border-bottom: 2px solid $bk;
            font-size: smaller;
            font-weight: 700;
        }
    }
    &__row{
        @include clr;
        margin-top: 10px;
        &-left{
            float: left;
            max-width: 30%;
            width: 30%;
            padding-right: 20px;
        }
        &-right{
            float: right;
            max-width: 70%;
            width: 70%;
        }
    }
    &__label{
        font-size: smaller;
        text-align: right;
        padding-top: 10px;
        &_p-0{
            padding: 0;
        }
    }
    &__field{
        font-size: 0;
        white-space: nowrap;
        span{
            display: inline-block;
            width: 30px;
            height: 35px;
            line-height: 33px;
            text-align: center;
            border: 2px solid $dgy;
            background: $lgy;
            margin-left: -2px;
            font-size: 16px;
            vertical-align: top;
            &.separ{
                background: none;
                border: none;
            }
        }
    }
    &__check{
        font-size: small;
        span{
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 2px solid $dgy;
            background: $lgy;
        }
    }
}