@import "variables";
@import "functions";
@import "extends";
@import "mixins";

/*full-page*/
.full-page{
	@extend %fwh;
	padding-top: 100px;
	overflow: hidden;
	&_middle{
		display: flex;
		align-items: center;
		&__inner{
			width: 100%;
		}
	}
}

/*section*/
.section{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	&-outer{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	&-inner{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

/*list*/
.list{
	list-style: none;
	li{
		line-height: (24/16);
		padding-left: 30px;
		margin: em(30) 0;
		position: relative;
		&:before{
			@extend %ab;
			width: 9px;
			height: 9px;
			position: absolute;
			left: 3px;
			top: 6px;
			background: $rd;
		}
	}	
}

/*link*/
.link{
	text-decoration: none;
	border-bottom: 2px solid $gn;
	transition: .5s;
	&:hover{
		border-bottom-color: transparent;
	}
}