@@if (user_item === 'logged') {
	<div class="user">
		<span class="user__name">
			Lufter
		</span>
		<span class="user__thumb">
			<img src="images/avatar.png" alt="avatar">
		</span>
		
		<button data-target-elements="#user-menu" class="js-toggle js-document-toggle-off user__button"></button>
		
		<div id="user-menu" class="user__bubble">
			
		</div>
	</div>
}

@@if (user_item === 'not_logged') {
	<div class="user">
		<a id="log-user-link" href="#" class="js-toggle js-document-toggle-off user__link" data-target-elements="#user-menu-log" data-dependence-target-elements="#user-menu-reg,#reg-user-link">Вход</a> / <a id="reg-user-link" href="#" class="js-toggle js-document-toggle-off user__link" data-target-elements="#user-menu-reg"  data-dependence-target-elements="#user-menu-log,#log-user-link">Регистрация</a>
		
		<div id="user-menu-log" class="user__bubble">
			Вход
		</div>
		
		<div id="user-menu-reg" class="user__bubble">
			Регистрация
		</div>
	</div>
}