.dragable{
    &_active{
        position: fixed;
        pointer-events: none;
        user-select: none;
    }
}

.dropable{
    &__mask{
        pointer-events: none;
        background: rgba(21, 128, 11, .5);
    }
}