/* scrollbox */
.scrollbox{
   position: relative;
   &__window{
      overflow: hidden;
      &_ovv{
         overflow: visible;
      }
      #routes-scroll &{
         height: auto !important;
      }
      .scrollbox_cursor-drag &{
         user-select: none;
         cursor: move;
      }
   }
   &__inner{
      .scrollbox_cursor-drag &{
         pointer-events: none;
      }
   }
   &__screen{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
   }
   &__horizontal-bar{
      height: 6px;
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      background: $gy;
      border-radius: 6px;
      div{
         width: 0;
         height: 100%;
         background: $rd;
         border-radius: 6px;
         cursor: pointer;
      }
   }
   &__vertical-bar{
      width: 8px;
      position: absolute;
      top: 0;
      right: 2px;
      height: 100%;
      background: $gy;
      border-radius: 6px;
      z-index: 4;
      div{
         width: 100%;
         height: 0;
         background: $rd;
         border-radius: 6px;
         cursor: pointer;
      }
   }
   // &_vertical{
   //    .scrollbox{
   //       &__window{
   //          max-height: 200px;
   //       }
   //    }
   // }
   &_dragging{
      user-select: none;
   }
   &_fwh{
      @extend %fwh;
      position: absolute;
      .scrollbox__window{
         @extend %fwh;
      }
   }
   &_screens{
      & > .scrollbox__window{
         @extend %fwh;
         position: fixed;
      }
   }
   @media(max-width: 1200px){
      &__vertical-bar,
      &__horizontal-bar{
         display: none;
      }
   }
}