.cover-img{
    flex: 0 0 auto;
    opacity: 0;
    transition: opacity .21s;
    &_w{
        width: 100%;
        height: auto;
        opacity: 1 !important;
    }
    &_h{
        height: 100%;
        width: auto;
        opacity: 1 !important;
    }
    &-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img{
            opacity: 0;
            transition: opacity .21s;
        }
    }
}