@import "../../sass/variables";
@import "../../sass/functions";
@import "../../sass/extends";
@import "../../sass/mixins";

.tooltip{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	background: #000;
	padding: 15px;
	width: 0;
	width: 200px;
	margin-top: -10px;
	border-radius: 2px !important;
	color: #ffffff;
	line-height: 1.2;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s;
	&:after{
		@extend %ab;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-left: 10px solid #000;
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -10px;
		transform: rotate(90deg);
	}
	&_rd{
		background: $rd;
		&:after{
			border-left-color: $rd;
		}
	}
	@media(max-width: 750px){
		font-size: 13px;
	}
}