.tooltip{
    position: absolute;
    left: -999px;
    z-index: 9;
    background: $rd;
    padding: em(25);
    width: em(184);
    color: #ffffff;
    line-height: (16/12);
    opacity: 0;
    text-align: center;
    margin-top: -10px;
    p{
        font-size: em(20);
        font-weight: 900;
        margin-bottom: em(15,20);
    }
    &__close{
        display: block;
        width:18px;
        height:18px;
        position: absolute;
        right: 8px;
        top: 10px;
        background: none;
        border: none;
        -webkit-appearance: none;
        &:after,
        &:before{
            @extend %ab;
            position: absolute;
            width: 130%;
            height: 2px;
            background: #ffffff;
            left: -15%;
            top: 50%;
            margin-top: -2px;
        }
        &:after{
            transform: rotate(-45deg);
        }
        &:before{
            transform: rotate(45deg);
        }
    }
    @media(max-width: 750px){
        width: 300px;
        margin: 0;
    }
}