@import "../../../sass/variables";
@import "../../../sass/functions";
@import "../../../sass/extends";
@import "../../../sass/mixins";
@import "../form-extends";

.autocomplete{
   position: relative;
   &__input{
      @extend %inp;
      padding-right: 45px;
	}
	&__arr{
		display: block;
		width: 40px;
		height: 44px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
		border: none;
		background: none;
		&:after{
			@extend %ab;
			width: 0;
			height: 0;
			border: 4px solid transparent;
			border-top: 6px solid $rd;
			position: absolute;
			right: 13px;
			top: 50%;
			margin-top: -2px;
		}
	}
	&__options{
		list-style: none;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		height: 0;
		max-height: 117px;
		overflow: hidden;
		z-index: 5;
		border: 1px solid #c3c3c3;
		border-top: none;
		background: #F0F1F2;
		visibility: hidden;
		transition: .21s;
		li{
			border-top: 1px solid #c3c3c3;
			&.hidden{
				display: none;
			}
			&:first-child{
				border: none;
			}
			&.hover{
				.autocomplete__val{
					background: $gy;
					color: #fff;
				}
			}
		}
		&.ovfauto{
			overflow: auto;
		}
		&-empty{
			padding: 10px 15px;
			text-align: center;
		}
	}
	&__val{
		display: block;
		width: 100%;
		padding: 10px 15px;
		font-weight: 300;
		text-decoration: none;
		text-align: left;
		border: none;
		transition: .21s;
		span{
			color: $rd;
		}
		&:hover{
			background: $gy;
			color: #fff;
		}
	}
	&_opened{
		.autocomplete__options{
			visibility: visible;
		}
	}
}