@import "../../sass/variables";
@import "../../sass/functions";
@import "../../sass/extends";
@import "../../sass/mixins";


.accord{
	&__item{
		margin-top: 20px;
		@include fch(t);
		background: $gy;
		border-radius: 20px;
	}
	&__button{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0 80px 0 40px;
		position: relative;
		width: 100%;
		height: 68px;
		text-align: left;
		border: none;
		background: none;
		user-select: none;
		span{
			display: block;
			width: 100%;
		}
		&:after{
			@extend %ab;
			width: 30px;
			height: 30px;
			position: absolute;
			right: 20px;
			top: 50%;
			margin-top: -15px;
			opacity: .38;
			transition: .5s;
		}
		&_active{
			&:after{
				transform: rotate(180deg);
			}
		}
	}
	&__content{
		height: 0;
		overflow: hidden;
		transition: .5s;
	}
}