@import "../../../sass/variables";
@import "../../../sass/functions";
@import "../../../sass/extends";
@import "../../../sass/mixins";

.custom-select{
	position: relative;
	&__button{
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 44px;
		padding: 0 43px 0 15px;
		border: 1px solid $gy;
		text-align: left;
		position: relative;
		z-index: 3;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		background: #ffffff;
		-webkit-appearance: none;
		transition: .5s;
		&:hover,
		&:focus{
			box-shadow: 2px 1px 21px rgba(0,0,0,.21);
		}
		&:focus{
			border-color: $bk;
		}
		.custom-select_changed &{
			font-weight: 400;
		}
		&:after{
			@extend %ab;
			width: 0;
			height: 0;
			border: 4px solid transparent;
			border-top: 6px solid $rd;
			position: absolute;
			right: 13px;
			top: 50%;
			margin-top: -2px;
		}
	}
	&__arr{
		display: block;
		width: 40px;
		height: 44px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
		border: none;
		border: 1px solid transparent;
		background: none;
		&:after{
			@extend %ab;
			width: 0;
			height: 0;
			border: 4px solid transparent;
			border-top: 6px solid $rd;
			position: absolute;
			right: 13px;
			top: 50%;
			margin-top: -2px;
		}
		& ~ .custom-select__input{
			padding-right: 43px;
		}
	}
	&__options{
		list-style: none;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		height: 0;
		max-height: 222px;
		overflow: hidden;
		z-index: 5;
		border: 1px solid #c3c3c3;
		border-top: none;
		background: #F0F1F2;
		visibility: hidden;
		transition: .5s;
		li{
			border-top: 1px solid #c3c3c3;
			&.hidden{
				display: none;
			}
			&:first-child{
				border: none;
			}
			&.hover{
				.custom-select__val{
					background: $gy;
					color: #fff;
				}
				.custom-select__val_checked{
					background: #c31d1d;
				}
			}
		}
		&.ovfauto{
			overflow: auto;
		}
	}
	&__val{
		display: block;
		width: 100%;
		padding: 10px 15px;
		font-weight: 300;
		text-decoration: none;
		text-align: left;
		border: none;
		transition: .5s;
		&:hover{
			background: $gy;
			color: #fff;
		}
		&_checked{
			background: $rd;
			color: #fff;
			&:hover{
				background: #c31d1d;
			}
		}
	}
	&_opened{
		&:after{
			border: 4px solid transparent;
			border-bottom: 6px solid $rd;
			margin-top: -7px;
		}
		.custom-select__options{
			visibility: visible;
		}
	}
}

select{
	visibility: hidden;
}