.zoom{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 262px;
    height: 262px;
    border-radius: 50%;
    box-shadow: 0 0 21px rgba(0, 0, 0, .21);
    overflow: hidden;
    background: #ffffff;
    cursor: none;
    &__inner{
        position: absolute;
        transform: scale(2);
        transform-origin: 0 0;
    }
}