@import "../../../sass/variables";
@import "../../../sass/functions";
@import "../../../sass/extends";
@import "../../../sass/mixins";

/*menu*/
.menu{
	@include clr;
	list-style: none;
	padding-top: 8px;
	
	&__item{
		float: left;
		margin-left: 45px;
		
		&:first-child{
			margin-left: 0;
		}

		&_has-children{
			position: relative;
			   
			.menu__arr{
				display: inline-block;
			}

			@media(min-width: 1001px){
				&:hover{
					.menu__sub-menu{
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}

		&_current{
			.menu__a{
				border-bottom-color: $bk;
			}
		}
	}

	&__a{
		font-size: 18px;
		font-weight: 500;
		text-decoration: none;
		border-bottom: 2px solid transparent;
		transition: .5s;
		
		@media(min-width: 1001px){
			&:hover{
				color: $rd;
			}
		}
	}

	&__arr{
		display: none;
		width: 12px;
		height: 8px;
		position: relative;
		bottom: 2px;
		margin-left: 7px;
		border: none;
		background: none;
		
	}

	@media(max-width: 1000px){
		padding: 10px 25px;
		&__item{
			float: none;
			text-align: center;
			margin: 25px 0;
			
			&_has-children{
				.menu__a{
					margin-left: 21px;
				}
			}
		}
	}
}

/*sub menu*/
.sub-menu{
	list-style: none;
	width: 6000%;
	padding: 24px 0 16px 3000%;
	top: 100%;
	left: -3000%;
	transition: .3s;
	
	@media(min-width: 1001px){
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}

	.header_fixed &{
		background: #ffffff;
		box-shadow: 0 3px 3px rgba(0,0,0,.11);
	}

	&__item{
		float: left;
		margin-left: 25px;

		&:first-child{
			margin-left: 0;
		}

		&_current{
			.sub-menu__a{
				border-bottom-color: $bk;
			}
		}
	}

	&__a{
		font-size: 14px;
		font-weight: 300;
		text-decoration: none;
		border-bottom: 2px solid transparent;
		display: inline-block;
		transition: .5s;
		
		&:hover{
			color: $rd;
		}
	}

	@media(max-width: 1000px){
		width: auto;
		left: 0;
		padding: 14px 0 0;
		box-shadow: none !important;
		position: relative;
		height: 0;
		overflow: hidden;

		&__item{
			float: none;
			margin: 0;
			padding: 9px 0;
		}

		
	}
}