@import "../../../sass/variables";
@import "../../../sass/functions";
@import "../../../sass/extends";
@import "../../../sass/mixins";

.custom-checkbox{
	position: relative;
	&__input{
		position: absolute;
		left: -9999px;
		&:checked{
			& + .custom-checkbox__label:before{
				border-color: $gy !important;
			}
		}
	}
	&__label{
		display: inline-block;
		line-height: 1.3;
		padding: 3px 0 0 33px;
		min-height: 22px;
		position: relative;
		cursor: pointer;
		&:before{
			@extend %ab;
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			border: 1px solid $gy;
			background: $gy;
			transition: box-shadow .5s;
			.field-error &,
			.form__chbox-group_error &{
				border-color: $rd;
			}
		}
		&:hover:before{
			box-shadow: 2px 1px 21px rgba(0,0,0,.21);
		}
	}
}