@import "../../sass/variables";
@import "../../sass/functions";
@import "../../sass/extends";
@import "../../sass/mixins";

%share-btn{
	display: inline-block;
	width: 35px;
	height: 35px;
	border: none;
	-webkit-appearance: none;
	user-select: none;
	transition: .5s;
	&:hover{
		opacity: .55;
	}
}

.vk-btn{
	@extend %share-btn;
	width: 46px;
	height: 37px;
}

.fb-btn{
	@extend %share-btn;
	width: 32px;
	height: 36px;
}

.tw-btn{
	@extend %share-btn;
}

.ok-btn{
	@extend %share-btn;
	width: 21px;
}