@import "../../sass/variables";
@import "../../sass/functions";
@import "../../sass/extends";
@import "../../sass/mixins";

.header{
	display: flex;
	height: 100px;
	align-items: center;
	transition: .21s;
	
	&_fixed,
	.mob-nav-is-opened &{
		background: #FFF;
		box-shadow: 0 1px 11px rgba(0,0,0,.21);
	}

	&__row{
		max-width: none;
	}

	&__logo{
		display: inline-block;
		width: 100%;
		max-width: 121px;
		
		img{
			width: 100%;
			height: auto;
		}
	}

	&__nav{
		float: left;
		
		&-wrap{
			float: right;
		}
	}

	@media(max-width: 1000px){
		height: 65px;
		
		&__nav{
			float: none;
			padding: 20px 0;
			
			&-wrap{
				float: none;
				position: fixed;
				top: 0;
				bottom: 0;
				left: -100%;
				z-index: 3;
				width: 100%;
				overflow: auto;
				background: #FFF;
				transition: .5s;
				
				&.opened{
					left: 0;
				}
			}
		}

		&__user{
			float: none;
			margin: 0;
			text-align: center;
		}
	}
}


/*open menu*/
.open-menu-btn{
	display: none;
	width:28px;
	height:21px;
	position: absolute;
	right: 15px;
	top: 50%;
	z-index: 4;
	margin-top: -10px;
	background: none;
	border: none;
	-webkit-appearance: none;
	span{
		height: 3px;
		background: $rd;
		position: absolute;
		left: 0;
		width: 100%;
		transition: .5s;
	}

	span:first-child{
		top: 0;
	}

	span:last-child{
		bottom: 0;
	}

	span:nth-child(2),
	span:nth-child(3){
		top: 9px;
	}

	&.opened{
		span:first-child,
		span:last-child{
			opacity: 0;
		}
		span:nth-child(2){
			transform: rotate(-45deg);
		}
		span:nth-child(3){
			transform: rotate(45deg);
		}
	}

	@media(max-width: 1000px){
		display: block;
	}
}

/*close menu*/
.menu-close-btn{
	display: none;
	width:21px;
	height:21px;
	position: absolute;
	left: 17px;
	top: 19px;
	background: none;
	border: none;
	-webkit-appearance: none;
	&:after,
	&:before{
		@extend %ab;
		position: absolute;
		width: 130%;
		height: 3px;
		background: $rd;
		left: -15%;
		top: 50%;
		margin-top: -1px;
	}
	&:after{
		transform: rotate(-45deg);
	}
	&:before{
		transform: rotate(45deg);
	}

	@media(max-width: 1000px){
		display: block;
	}
}

.mob-nav-is-opened{
	position: fixed;
	left: 0;
	right: 0;
}