@import "../../sass/variables";
@import "../../sass/functions";
@import "../../sass/extends";
@import "../../sass/mixins";


/*video*/
.video{
	position: relative;
	@include fixprop(560, 315);
	
	&__preview{
		@extend %fwh;
	}

	&__btn-play{
		display: block;
		width: per(60,560);
		height: per(54,315);
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 2;
		margin: per(-27,560) 0 0 per(-30,560);
		border: none;
		transition: .5s;
		&:hover{
			opacity: .7;
		}
	}

	&__frame{
		@extend %fwh;
		z-index: 3;
		background: $bk;
		display: none;
		&:before{
			@extend %ab;
			width: per(60,560);
			height: per(60,315);
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 2;
			margin: per(-30,560) 0 0 per(-30,560);
			background: url("../images/loading.svg") no-repeat 50% 50%;
			background-size: 100% 100%;
			animation: video_loading_icon .9s infinite linear;
		}

		iframe{
			@extend %fwh;
			z-index: 2;
			border: none;
			background: none;
			display: none;
			
			&.visible{
				display: block;
			}
		}

		&_visible{
			display: block;
		}
	}
}

@keyframes video_loading_icon {
	0% {
		transform: rotate(0deg); 
	}
	100% {
		transform: rotate(360deg); 
	}
}