.tab{
    &__buttons{
        list-style: none;
        display: flex;
        margin-left: r(-5);
        margin-right: r(-5);
        li{
            flex: 1 1 auto;
            padding: 0 r(5);
        }
    }
    &__button{
        width: 100%;
        background: $gy;
        font-size: 1rem;
        &.active{
            background: $rd;
        }
    }
    &__section{
        position: relative;
        overflow: hidden;
        margin-top: r(20);
    }
    &__item{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        &.active{
            visibility: visible;
            opacity: 1;
        }
    }
}