@import "../../sass/variables";
@import "../../sass/functions";
@import "../../sass/extends";
@import "../../sass/mixins";

.alert{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 21;
   background: rgba(0, 0, 0, .87);
   text-align: center;
	padding: 20px 45px;
	font-size: 14px;
   line-height: 1.5;
	color: #fff;
	transition: .5s;
   &_top{
      bottom: auto;
      top: 0;
	}
	&_hidden{
		transform: translate(0, 101%);
		&.alert_top{
			transform: translate(0, -101%);
		}
	}
	&-close-btn{
		width:15px;
		height:15px;
		position:absolute;
		right: 15px;
		top: 15px;
		z-index: 2;
		background: none;
		border: none;
		&:after,
		&:before{
			@extend %ab;
			width: 130%;
			height: 2px;
			background: #fff;
			position: absolute;
			left: -15%;
			top: 50%;
			margin-top: -1px;
			transition: .5s;
		}
		&:after{
			transform: rotate(-45deg);
		}
		&:before{
			transform: rotate(45deg);
		}
		&:hover{
			&:after,
			&:before{
				background: $rd;
			}
		}
	}
}