@import "../../../sass/variables";
@import "../../../sass/functions";
@import "../../../sass/extends";
@import "../../../sass/mixins";

.custom-file{
	text-align: center;
	&__input{
		position: absolute;
		left: -9999px;
	}
	&__btn{
		font-size: 30px;
		color: $bk;
		border-bottom: 1px solid $bk;
		cursor: pointer;
	}
	&__items{
		display: flex;
		justify-content: space-around;
		margin-bottom: 14px;
	}
	&__item{
		max-width: 221px;
		flex: 0 1 221px;
		padding: 0 15px;
		position: relative;
	}
	&__preview{
		position: relative;
		border: 1px solid $lgy;
		@include fixprop;
		& > div{
			display: flex;
			align-items: center;
			@extend %fwh;
			z-index: 2;
		}
		img{
			width: 100%;
			height: auto;
		}
		&:after{
			@extend %ab;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -15px 0 0 -15px;
			width: 30px;
			height: 30px;
			background: url("../images/loading.svg") no-repeat 50% 50%;
			background-size: 100% 100%;
			animation: form_loading_icon .9s infinite linear;
		}
	}
	&__name{
		margin-top: 10px;
		font-size: 14px;
		word-wrap: break-word;
	}
	&__del-btn{
		position: absolute;
		width: 20px;
		height: 20px;
		top: -10px;
		right: 5px;
		z-index: 2;
	}
}