.custom-file {
    @include clr;

    &__input {
        position: absolute;
        left: -9999px;
    }

    &__lab{
        position: relative;
        z-index: 2;
        cursor: pointer;
        &-wrap {
            position: relative;
            text-align: center;
            overflow: hidden;
            margin: 0 auto;
        }
    }
    &__btn {
        display: block;
        width: 100%;
        @include fixprop;
        border-radius: 2px;
        border: 1px dashed $be;
        background: none;
        position: relative;
        cursor: pointer;

        &-wrap {
            float: left;
            width: 25%;
            max-width: 210px;
            padding: 0 15px;
        }

        &:after {
            @extend %ab;
            width: per(66, 180);
            height: per(66, 180);
            background: violet;
            position: absolute;
            top: per(37, 180);
            left: per(57, 180);
        }

        span {
            display: block;
            width: 100%;
            position: absolute;
            bottom: per(27, 180);
            left: 0;
            font-size: 13px;
            line-height: 1.3;
            color: $be;
            text-align: center;
        }
    }

    &__items {
        margin-bottom: r(30);

        &_flex {
            display: flex;
            justify-content: center;
        }
    }

    &__item {
        width: r(150);
        max-width: 205px;
        padding: 0 10px;
        position: relative;
        margin: 0 auto;
        .custom-file__items_flex & {
            flex: 0 1 185px;
        }
    }

    &__preview {
        position: relative;
        border: 3px solid $gy;
        @include fixprop(130,146);
        overflow: hidden;

        &>div {
            display: flex;
            align-items: center;
            @extend %fwh;
            z-index: 2;
        }

        img {
            width: 100%;
            height: auto;
        }

        &:after {
            @extend %ab;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -15px 0 0 -15px;
            width: 30px;
            height: 30px;
            background: url("../images/loading.svg") no-repeat 50% 50%;
            background-size: 100% 100%;
            animation: form_loading_icon .9s infinite linear;
        }
        &_loaded{
            &::after{
                display: none;
            }
        }
    }

    &__name {
        display: none !important;
    }

    &__del-btn {
        @extend %icon-btn;
        display: block;
        width: 22px;
        height: 20px;
        position: absolute;
        left: 10px;
        top: 0;
        z-index: 3;
        background: $rd; 
        &::after{
            @extend %btn-icon;
            left: 50%;
            width: 18px;
            height: 20px;
            margin: -10px 0 0 -9px;
        }
        &:hover {
            background: $rd;
        }
    }
}