@import "../../sass/variables";
@import "../../sass/functions";
@import "../../sass/extends";
@import "../../sass/mixins";

.header{
	display: flex;
	height: 100px;
	align-items: center;
	transition: .21s;
	&_fixed,
	&.toggled{
		background: #FFF;
		box-shadow: 0 1px 11px rgba(0,0,0,.21);
	}
	&__row{
		max-width: none;
	}
	&__logo{
		display: inline-block;
		width: 100%;
		max-width: 121px;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__nav{
		float: left;
		&-wrap{
			float: right;
		}
	}
	&__toggle{
		display: none !important;
	}
	&__user{
		float: left;
		margin-left: 25px;
	}

	
	
	@media(max-width: 1000px){
		&__nav{
			float: none;
			padding: 20px 0;
			&-wrap{
				float: none;
				visibility: hidden;
				opacity: 0;
				position: fixed;
				top: 100px;
				bottom: 0;
				left: 0;
				width: 100%;
				overflow: auto;
				background: #FFF;
				border-top: 1px solid $lgy;
				transition: .5s;
				&.toggled{
					visibility: visible;
					opacity: 1;
				}
			}
		}
		&__toggle{
			display: block !important;
			position: absolute !important;
			right: 15px;
			top: 50%;
			margin-top: -12px;
		}
	}
}