@import "../../sass/variables";
@import "../../sass/functions";
@import "../../sass/extends";
@import "../../sass/mixins";

.footer{
	background: #FFF;
	border-top: 1px solid $gy;
	&__logo{
		display: inline-block;
		width: 120px;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__txt{
		font-size: 15px;
		line-height: (18/15);
	}
	@media(max-width: 1200px){
		
	}
}

.foot-nav{
	@include clr;
	list-style: none;
	&__item{
		float: left;
		margin-left: 35px;
		&:first-child{
			margin-left: 0;
		}
	}
	&__a{
		color: $be;
		letter-spacing: 0.8px;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		transition: .5s;
		&:hover{
			border-bottom-color: $be;
		}
	}
}