.float-slider{
    height: 300px;
    position: relative;
    @include clr;
    &__float{
        position: relative;
        float: left;
        width: 50%;
        height: 100%;
        &-item{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            &_curr {
                z-index: 2;
                transform: scale(1) translate(0);
                opacity: 1;
            }
            &_prev {
                transform: scale(0.75) translate(-116%);
                opacity: .5;
            }
            &_next {
                transform: scale(0.75) translate(250%);
                opacity: .5;
            }
            
            &.next-to-curr, 
            &.prev-to-curr {
                animation: move_to_curr 1s linear forwards;
            }
            
            &.curr-to-prev {
                animation: curr_to_prev .7s linear forwards;
            }
            
            &.curr-to-next {
                animation: curr_to_next 1s linear forwards;
            }
            
            &.prev-to-next {
                animation: prev_to_next .7s linear forwards;
            }
            
            &.next-to-prev {
                animation: next_to_prev 1s linear forwards;
            }
            
            &.from-prev {
                animation: from_prev .7s linear forwards;
            }
            
            &.to-next {
                animation: to_next .7s linear forwards;
            }
            
            &.from-next {
                animation: from_next 1s linear forwards;
            }
            
            &.to-prev {
                animation: to_prev 1s linear forwards;
            }
            
        }
    }
}



.float-slider__fade {
    position: relative;
    z-index: 3;
    float: left;
    width: 50%;
    height: 100%;
}

.float-slider__fade-item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: .21s;
    padding: 0 30px;
}

.float-slider__fade-item_curr {
    visibility: visible;
    opacity: 1;
}

.float-slider__txt {
    padding: 0 16.90141% 0 9.15493%;
}

.float-slider__var-height {
    height: 60%;
    max-height: 433px;
}

.float-slider__dots {
    z-index: 5;
    position: absolute;
    bottom: -35px;
    width: 100%;
}

.float-slider__dots li {
    list-style: none;
    display: inline-block;
    margin-right: 12px;
}

.float-slider__dots button {
    display: block;
    font-size: 0;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 1px solid #0a55b2;
    transition: .21s;
}

.float-slider_grn .float-slider__dots button {
    border: 1px solid #52a54f;
}

.float-slider__dots button:hover {
    background: #cacdd4;
}

.float-slider__dots-active button {
    background: #0a55b2;
}

.float-slider_grn .float-slider__dots-active button {
    background: #52a54f;
}

.float-slider__arrow {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    background: none;
}

.float-slider__arrow_prev {
    right: 100%;
}

.float-slider__arrow_next {
    left: 100%;
}

@media (max-width: 1200px) {
    .float-slider__float-item_next {
        transform: scale(0.85) translate(226%);
    }
    .float-slider__float-item_prev {
        transform: scale(0.85) translate(-108%);
    }
    .float-slider__dots {
        bottom: -30px;
    }
}

@media (max-width: 1000px) {
    .float-slider {
        height: auto;
    }
    .float-slider__float:before {
        display: block;
        content: "";
        width: 100%;
        padding-bottom: 61%;
    }
    .float-slider__var-height {
        height: auto;
        max-height: none;
    }
    .float-slider__float-item_next {
        transform: scale(0.85) translate(108%);
    }
    .float-slider__float-item_prev {
        transform: scale(0.85) translate(-108%);
    }
    .float-slider__float-item.next-to-curr, .float-slider__float-item.prev-to-curr {
        animation: move_to_curr .7s linear .3s forwards;
    }
    .float-slider__float-item.curr-to-prev {
        animation: curr_to_prev .7s linear forwards;
    }
    .float-slider__float-item.curr-to-next {
        animation: curr_to_next .7s linear forwards;
    }
    .float-slider__float-item.prev-to-next {
        animation: prev_to_next .4s linear .3s forwards;
    }
    .float-slider__float-item.next-to-prev {
        animation: next_to_prev .4s linear .3s forwards;
    }
    .float-slider__fade-item_curr {
        position: relative;
    }
    .float-slider__dots {
        display: none;
    }
    .float-slider__arrow {
        height: 200px;
    }
    .float-slider__txt {
        padding: 35px 0 0;
    }
}

/*float-slider-control*/
.float-slider-control {
    height: 25%;
    max-height: 160px;
}

.float-slider-control__row {
    height: 100%;
    position: relative;
}

.float-slider-control__btn {
    position: relative;
}

.float-slider-control__btn-tit {
    display: block;
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    z-index: 2;
    top: 50%;
    left: 0;
    margin-top: -7px;
    color: #5C5C5C;
    text-transform: uppercase;
    transition: .7s;
}

.float-slider-control__btn-tit span {
    font-size: 14px;
    font-weight: 300;
    display: block;
    text-transform: none;
}

.float-slider-control__btn-num {
    display: block;
    font-size: 107px;
    font-weight: 900;
    line-height: 0.74766;
    color: #000;
    opacity: .07;
    transition: .7s;
}

.float-slider-control__btn-btn {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    opacity: 0;
}

.float-slider-control__btn:hover .float-slider-control__btn-tit {
    color: #000000;
}

.float-slider-control__btn_active .float-slider-control__btn-num {
    opacity: 1;
}

.float-slider-control__btn_active .float-slider-control__btn-tit {
    color: #000000;
}

.float-slider-control__btn_active#float-sl-cont-0 .float-slider-control__btn-num {
    color: #ffbc5c;
}

.float-slider-control__btn_active#float-sl-cont-0 .float-slider-control__line span {
    background: #ffbc5c;
}

.float-slider-control__btn_active#float-sl-cont-1 .float-slider-control__btn-num {
    color: #74C3E1;
}

.float-slider-control__btn_active#float-sl-cont-1 .float-slider-control__line span {
    background: #74C3E1;
}

.float-slider-control__btn_active#float-sl-cont-2 .float-slider-control__btn-num {
    color: #ACDFA6;
}

.float-slider-control__btn_active#float-sl-cont-2 .float-slider-control__line span {
    background: #ACDFA6;
}

.float-slider-control__btn_active#float-sl-cont-3 .float-slider-control__btn-num {
    color: #E43B88;
}

.float-slider-control__btn_active#float-sl-cont-3 .float-slider-control__line span {
    background: #E43B88;
}

.float-slider-control__line {
    width: 100%;
    max-width: 100px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -15px;
    background: #D3D4D8;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
}

.float-slider-control__line span {
    display: block;
    height: 100%;
    width: 0;
}

.float-slider-control__line span.crawl {
    transition: width 5s linear;
    width: 100%;
}

.float-slider-control__btn_active .float-slider-control__line {
    visibility: visible;
    opacity: 1;
}

.float-slider-control__arrow {
    display: none;
    width: 8px;
    height: 15px;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-position: -42px -98px;
    opacity: 0.6;
    position: absolute;
    right: 18px;
    top: 50%;
    z-index: 4;
    margin-top: -7px;
}

@media (max-width: 1200px) {
    .float-slider-control__btn-tit {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .float-slider-control {
        height: 100px;
    }
    .float-slider-control__row {
        padding-top: 0;
        position: relative;
    }
    .float-slider-control__row .col-3 {
        width: 100%;
    }
    .float-slider-control__btn {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 18px;
        top: 50%;
        height: 52px;
        right: 50px;
        margin-top: -26px;
        transition: .21s;
    }
    .float-slider-control__btn_active {
        visibility: visible;
        opacity: 1;
    }
    .float-slider-control__btn-num {
        font-size: 70px;
    }
    .float-slider-control__btn-tit {
        margin-top: -10px;
    }
    .float-slider-control__btn-tit span {
        font-size: 13px;
    }
}


@keyframes move_to_curr {
    70% {
        transform: scale(0.75) translate(0);
        opacity: .5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes curr_to_prev {
    50% {
        transform: scale(0.75);
        opacity: .5;
    }
    100% {
        transform: scale(0.75) translate(-116%);
        opacity: .5;
    }
}

@keyframes curr_to_next {
    10% {
        transform: scale(0.75);
        opacity: .5;
    }
    100% {
        transform: scale(0.75) translate(250%);
        opacity: .5;
    }
}

@keyframes prev_to_next {
    50% {
        transform: scale(0.75) translate(-180%);
        opacity: 0;
    }
    55% {
        transform: scale(0.75) translate(300%);
        opacity: 0;
    }
    100% {
        transform: scale(0.75) translate(250%);
        opacity: .5;
    }
}

@keyframes next_to_prev {
    50% {
        transform: scale(0.75) translate(300%);
        opacity: 0;
    }
    55% {
        transform: scale(0.75) translate(-180%);
        opacity: 0;
    }
    100% {
        transform: scale(0.75) translate(-116%);
        opacity: .5;
    }
}

@keyframes from_prev {
    90% {
        transform: scale(0.75) translate(-180%);
        opacity: 0;
    }
    100% {
        transform: scale(0.75) translate(0);
        opacity: 0;
    }
}

@keyframes to_next {
    50% {
        transform: scale(0.75) translate(300%);
        opacity: 0;
    }
    100% {
        transform: scale(0.75) translate(250%);
        opacity: .5;
    }
}

@keyframes from_next {
    90% {
        transform: scale(0.75) translate(300%);
        opacity: 0;
    }
    100% {
        transform: scale(0.75) translate(0);
        opacity: 0;
    }
}

@keyframes to_prev {
    55% {
        transform: scale(0.75) translate(-180%);
        opacity: 0;
    }
    100% {
        transform: scale(0.75) translate(-116%);
        opacity: .5;
    }
}

@media (max-width: 1200px) {
    @keyframes move_to_curr {
        70% {
            transform: scale(0.85) translate(0);
            opacity: .5;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    @keyframes curr_to_prev {
        50% {
            transform: scale(0.85);
            opacity: .5;
        }
        100% {
            transform: scale(0.85) translate(-108%);
            opacity: .5;
        }
    }
    
    @keyframes curr_to_next {
        10% {
            transform: scale(0.85);
            opacity: .5;
        }
        100% {
            transform: scale(0.85) translate(226%);
            opacity: .5;
        }
    }
    
    @keyframes prev_to_next {
        50% {
            transform: scale(0.85) translate(-150%);
            opacity: 0;
        }
        55% {
            transform: scale(0.85) translate(250%);
            opacity: 0;
        }
        100% {
            transform: scale(0.85) translate(226%);
            opacity: .5;
        }
    }
    
    @keyframes next_to_prev {
        50% {
            transform: scale(0.85) translate(250%);
            opacity: 0;
        }
        55% {
            transform: scale(0.85) translate(-150%);
            opacity: 0;
        }
        100% {
            transform: scale(0.85) translate(-108%);
            opacity: .5;
        }
    }
    
    @keyframes from_prev {
        90% {
            transform: scale(0.85) translate(-150%);
            opacity: 0;
        }
        100% {
            transform: scale(0.85) translate(0);
            opacity: 0;
        }
    }
    
    @keyframes to_next {
        50% {
            transform: scale(0.85) translate(250%);
            opacity: 0;
        }
        100% {
            transform: scale(0.85) translate(226%);
            opacity: .5;
        }
    }
    
    @keyframes from_next {
        90% {
            transform: scale(0.85) translate(250%);
            opacity: 0;
        }
        100% {
            transform: scale(0.85) translate(0);
            opacity: 0;
        }
    }
    
    @keyframes to_prev {
        55% {
            transform: scale(0.85) translate(-150%);
            opacity: 0;
        }
        100% {
            transform: scale(0.85) translate(-108%);
            opacity: .5;
        }
    }
}

@media (max-width: 1000px) {
    @keyframes move_to_curr {
        70% {
            transform: scale(0.85) translate(0);
            opacity: .5;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    @keyframes curr_to_prev {
        30% {
            transform: scale(0.85);
            opacity: .5;
        }
        100% {
            transform: scale(0.85) translate(-108%);
            opacity: .5;
        }
    }
    
    @keyframes curr_to_next {
        30% {
            transform: scale(0.85);
            opacity: .5;
        }
        100% {
            transform: scale(0.85) translate(108%);
            opacity: .5;
        }
    }
    
    @keyframes prev_to_next {
        50% {
            transform: scale(0.85) translate(-150%);
            opacity: 0;
        }
        55% {
            transform: scale(0.85) translate(150%);
            opacity: 0;
        }
        100% {
            transform: scale(0.85) translate(108%);
            opacity: .5;
        }
    }
    
    @keyframes next_to_prev {
        50% {
            transform: scale(0.85) translate(150%);
            opacity: 0;
        }
        55% {
            transform: scale(0.85) translate(-150%);
            opacity: 0;
        }
        100% {
            transform: scale(0.85) translate(-108%);
            opacity: .5;
        }
    }
    
    @keyframes from_prev {
        90% {
            transform: scale(0.85) translate(-150%);
            opacity: 0;
        }
        100% {
            transform: scale(0.85) translate(0);
            opacity: 0;
        }
    }
    
    @keyframes to_next {
        50% {
            transform: scale(0.85) translate(150%);
            opacity: 0;
        }
        100% {
            transform: scale(0.85) translate(108%);
            opacity: .5;
        }
    }
    
    @keyframes from_next {
        90% {
            transform: scale(0.85) translate(150%);
            opacity: 0;
        }
        100% {
            transform: scale(0.85) translate(0);
            opacity: 0;
        }
    }
    
    @keyframes to_prev {
        55% {
            transform: scale(0.85) translate(-150%);
            opacity: 0;
        }
        100% {
            transform: scale(0.85) translate(-108%);
            opacity: .5;
        }
    }
}