<ul class="menu">
	<li class="menu__item menu__item_has-children @@if (menu_item_current === 'home' || menu_item_current === 'fsscroll' || menu_item_current === 'getcontentajax' || menu_item_current === 'content') {menu__item_current}">
		<a href="home.html" class="menu__a">Home</a>
		<button class="menu__arr"></button>
		<ul class="sub-menu menu__sub-menu">
			<li class="sub-menu__item @@if (menu_item_current === 'fsscroll') {sub-menu__item_current}">
				<a href="fullscreen-scrolling.html" class="sub-menu__a">Full Screen Scroll</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'getcontentajax') {sub-menu__item_current}">
				<a href="getcontentajax.html" class="sub-menu__a">Get Content Ajax</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'content') {sub-menu__item_current}">
				<a href="content.html" class="sub-menu__a">Content</a>
			</li>
		</ul>
	</li>
	<li class="menu__item @@if (menu_item_current === 'grid') {menu__item_current}">
		<a href="grid.html" class="menu__a">Grid</a>
	</li>
	<li class="menu__item menu__item_has-children @@if (menu_item_current === 'accordion' || menu_item_current === 'anchors' || menu_item_current === 'tabs' || menu_item_current === 'more' || menu_item_current === 'share' || menu_item_current === 'bubble' || menu_item_current === 'zoom') {menu__item_current}">
		<a href="#" class="menu__a">Interface</a>
		<button class="menu__arr"></button>
		<ul class="sub-menu menu__sub-menu">
			<li class="sub-menu__item @@if (menu_item_current === 'accordion') {sub-menu__item_current}">
				<a href="accordion.html" class="sub-menu__a">Accordion</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'anchors') {sub-menu__item_current}">
				<a href="anchors.html" class="sub-menu__a">Anchors</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'tabs') {sub-menu__item_current}">
				<a href="tab.html" class="sub-menu__a">Tabs</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'more') {sub-menu__item_current}">
				<a href="more.html" class="sub-menu__a">More</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'share') {sub-menu__item_current}">
				<a href="share.html" class="sub-menu__a">Share</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'bubble') {sub-menu__item_current}">
				<a href="bubble.html" class="sub-menu__a">Bubble</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'zoom') {sub-menu__item_current}">
				<a href="zoom.html" class="sub-menu__a">Zoom</a>
			</li>
		</ul>
	</li> 
	<li class="menu__item menu__item_has-children @@if (menu_item_current === 'buttons' || menu_item_current === 'toggle' || menu_item_current === 'icons' || menu_item_current === 'images' || menu_item_current === 'video' || menu_item_current === 'diagram' || menu_item_current === 'numbers' || menu_item_current === 'timer') {menu__item_current}">
		<a href="#" class="menu__a">Elements</a>
		<button class="menu__arr"></button>
		<ul class="sub-menu menu__sub-menu">
			<li class="sub-menu__item @@if (menu_item_current === 'buttons') {sub-menu__item_current}">
				<a href="buttons.html" class="sub-menu__a">Buttons</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'toggle') {sub-menu__item_current}">
				<a href="toggle.html" class="sub-menu__a">Toggle</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'icons') {sub-menu__item_current}">
				<a href="icons.html" class="sub-menu__a">Icons</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'images') {sub-menu__item_current}">
				<a href="images.html" class="sub-menu__a">Images</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'video') {sub-menu__item_current}">
				<a href="video.html" class="sub-menu__a">Video</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'diagram') {sub-menu__item_current}">
				<a href="diagram.html" class="sub-menu__a">Diagram</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'numbers') {sub-menu__item_current}">
				<a href="numbers.html" class="sub-menu__a">Numbers</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'timer') {sub-menu__item_current}">
				<a href="timer.html" class="sub-menu__a">Timer</a>
			</li>
		</ul>
	</li>
	<li class="menu__item menu__item_has-children @@if (menu_item_current === 'form' || menu_item_current === 'form_file' || menu_item_current === 'form_autocomplete' || menu_item_current === 'form_select' || menu_item_current === 'maskinput') {menu__item_current}">
		<a href="form.html" class="menu__a">Form</a>
		<button class="menu__arr"></button>
		<ul class="sub-menu menu__sub-menu">
			<li class="sub-menu__item @@if (menu_item_current === 'maskinput') {sub-menu__item_current}">
				<a href="form-maskinput.html" class="sub-menu__a">Maskinput</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'form_file') {sub-menu__item_current}">
				<a href="form-file.html" class="sub-menu__a">File</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'timer') {sub-menu__item_current}">
				<a href="form-custom.html" class="sub-menu__a">Custom Form</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'form_select') {sub-menu__item_current}">
				<a href="form-select.html" class="sub-menu__a">Select</a>
			</li>
			<li class="sub-menu__item @@if (menu_item_current === 'form_autocomplete') {sub-menu__item_current}">
				<a href="form-autocomplete.html" class="sub-menu__a">Autocomplete</a>
			</li>
		</ul>
	</li>
	<li class="menu__item">
		<a href="popup.html" class="menu__a">Popups</a>
	</li>
	<li class="menu__item">
		<a href="anchors.html#section-4" class="js-anchor menu__a">Anch</a>
	</li>
</ul>